{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenPix",
    "description": "A OpenPix é uma Plataforma de Gestão de Pagamentos. \n\n Para utilizar nossa API de Produção, utilize exclusivamente o seguinte endpoint: \n\n 👉 __[https://api.openpix.com.br/](https://api.openpix.com.br/)__ \n\n Além disso, oferecemos também um ambiente de sandbox (ambiente de testes), ideal para desenvolvimento e validação de integrações sem impactar dados reais. \n\n 👉 __[https://api.woovi-sandbox.com/](https://api.woovi-sandbox.com/)__ \n\n Veja como configurar seu acesso a nossa API [aqui](https://developers.openpix.com.br/docs/apis/api-getting-started).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.openpix.com.br",
      "description": "API de Produção"
    },
    {
      "url": "https://api.woovi-sandbox.com",
      "description": "API de Testes"
    }
  ],
  "security": [
    {
      "AppID": []
    }
  ],
  "paths": {
    "/api/v1/account/{accountId}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get an Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the Account",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6290ccfd42831958a405debc"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account retrieve using the given Account ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "$ref": "#/components/schemas/CompanyBankAccount"
                    }
                  }
                },
                "example": {
                  "account": {
                    "accountId": "6290ccfd42831958a405debc",
                    "isDefault": true,
                    "balance": {
                      "total": 129430,
                      "blocked": 0,
                      "available": 129430
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get a list of Accounts",
        "responses": {
          "200": {
            "description": "A list of Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyBankAccount"
                      }
                    }
                  }
                },
                "example": {
                  "accounts": [
                    {
                      "accountId": "6290ccfd42831958a405debc",
                      "isDefault": true,
                      "balance": {
                        "total": 129430,
                        "blocked": 0,
                        "available": 129430
                      }
                    },
                    {
                      "accountId": "6286b467a7910113577e00ce",
                      "isDefault": false,
                      "balance": {
                        "total": 130,
                        "blocked": 100,
                        "available": 30
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account-register": {
      "post": {
        "tags": [
          "account register"
        ],
        "summary": "Register a new account",
        "description": "Creates a new account registration with the provided details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "officialName": {
                    "type": "string",
                    "description": "Official name of the company"
                  },
                  "tradeName": {
                    "type": "string",
                    "description": "Trade name of the company"
                  },
                  "taxID": {
                    "type": "string",
                    "description": "Tax ID of the company"
                  },
                  "annualRevenue": {
                    "type": "number",
                    "description": "Annual revenue of the company"
                  }
                },
                "required": [
                  "officialName",
                  "tradeName",
                  "taxID",
                  "annualRevenue"
                ]
              },
              "examples": {
                "ValidAccountRegister": {
                  "value": {
                    "officialName": "Company Official Name",
                    "tradeName": "Company Trade Name",
                    "taxID": "12345678901234",
                    "annualRevenue": 1000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "officialName": {
                      "type": "string",
                      "example": "Company Official Name"
                    },
                    "tradeName": {
                      "type": "string",
                      "example": "Company Trade Name"
                    },
                    "taxID": {
                      "type": "object",
                      "properties": {
                        "taxID": {
                          "type": "string",
                          "example": "12345678901234"
                        },
                        "type": {
                          "type": "string",
                          "example": "BR_CNPJ"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "MissingAuthorization": {
                    "value": {
                      "error": "Invalid Authorization header"
                    }
                  },
                  "CompanyNotFound": {
                    "value": {
                      "error": "Company not found"
                    }
                  },
                  "ValidationError": {
                    "value": {
                      "error": [
                        {
                          "code": "too_small",
                          "minimum": 1,
                          "type": "string",
                          "inclusive": true,
                          "exact": false,
                          "message": "Official name is required",
                          "path": [
                            "officialName"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "This feature is not enabled for your company. Contact us to active."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/{accountId}/withdraw": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Withdraw from an Account",
        "description": "An additional fee may be charged depending on the minimum free withdrawal amount. See more about at https://developers.openpix.com.br/docs/FAQ/faq-virtual-account/#onde-posso-consultar-as-taxas-da-minha-conta-virtual",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the Account",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6290ccfd42831958a405debc"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "Value in cents"
                  }
                }
              },
              "example": {
                "value": 7000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdraw and Acccount information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdraw": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "$ref": "#/components/schemas/CompanyBankAccount"
                        },
                        "transaction": {
                          "type": "object",
                          "$ref": "#/components/schemas/WithdrawTransaction"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "withdraw": {
                    "account": {
                      "accountId": "6290ccfd42831958a405debc",
                      "isDefault": true,
                      "balance": {
                        "total": 122430,
                        "blocked": 0,
                        "available": 122430
                      }
                    },
                    "transaction": {
                      "endToEndId": "E23114447202205191817cx6VMrbwtw6",
                      "transaction": 7000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/application": {
      "delete": {
        "tags": [
          "application"
        ],
        "summary": "Delete an application",
        "description": "Deactivates an application by setting isActive to false and adding a removedAt timestamp",
        "requestBody": {
          "description": "Data identifying the application to delete",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "description": "The client ID of the application to delete"
                  }
                },
                "required": [
                  "clientId"
                ]
              },
              "examples": {
                "Application": {
                  "value": {
                    "clientId": "client_123abc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates the operation was successful"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error or other client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error": "Validation error",
                      "details": [
                        {
                          "field": "clientId",
                          "message": "Application client ID is required"
                        }
                      ]
                    }
                  },
                  "CannotDeleteMaster": {
                    "value": {
                      "error": "You cannot delete a master application"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Application not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "application"
        ],
        "summary": "Create a new application",
        "description": "Creates a new application for a company",
        "requestBody": {
          "description": "Data to create a new application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPayload"
              },
              "examples": {
                "Application": {
                  "value": {
                    "accountId": "507f1f77bcf86cd799439011",
                    "application": {
                      "name": "Test API",
                      "type": "API"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                },
                "example": {
                  "application": {
                    "name": "Test API",
                    "isActive": true,
                    "type": "API",
                    "clientId": "client_123abc",
                    "clientSecret": "secret_456def",
                    "appID": "app_789ghi",
                    "companyBankAccount": "507f1f77bcf86cd799439011"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or other client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error": "Validation error",
                      "details": [
                        {
                          "field": "accountId",
                          "message": "Company bank account ID is required"
                        }
                      ]
                    }
                  },
                  "NoMasterApplication": {
                    "value": {
                      "error": "Only MASTER application can create other application types"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Missing required feature",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "You need feature BAAS to access this endpoint"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cashback-fidelity/balance/{taxID}": {
      "get": {
        "tags": [
          "cashback-fidelity"
        ],
        "summary": "Get the exclusive cashback amount an user still has to receive by taxID.",
        "parameters": [
          {
            "name": "taxID",
            "in": "path",
            "description": "The raw tax ID from the customer you want to get the balance.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "taxID": {
                "value": "60151449000182"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amount the user still has to receive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/cashback-fidelity": {
      "post": {
        "tags": [
          "cashback-fidelity"
        ],
        "summary": "Get or create cashback for a customer.",
        "description": "Create a new cashback exclusive for the customer with a given taxID. If the customer already has a pending excluisve cashback, this endpoint will return it instead.",
        "requestBody": {
          "description": "Customer's taxID and the cash",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taxID": {
                    "type": "string",
                    "description": "Customer taxID (CPF or CNPJ)"
                  },
                  "value": {
                    "type": "number",
                    "description": "Cashback value in centavos"
                  }
                }
              },
              "example": {
                "value": 100,
                "taxID": 11111111111
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Didn't create a new cashback, returning previously existing cashback information instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cashback": {
                      "description": "Object representing the existing cashback",
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Cashback value in centavos"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "String explaining what happened"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "New cashback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cashback": {
                      "description": "Object representing the new cashback",
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Cashback value in centavos"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "String explaining what happened"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openpix/charge/brcode/image/{:id}.png?size=1024": {
      "get": {
        "tags": [
          "charge"
        ],
        "summary": "Get an image of Qr Code from a Charge",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "charge link payment ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "paymentLinkID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          },
          {
            "in": "query",
            "name": "size",
            "description": "Size for the image. This size should be between 600 and 4096. if the size parameter was not passed, the default value will be 1024.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "size": {
                "value": 768
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Qr Code image as MIME type"
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/charge/{id}": {
      "delete": {
        "tags": [
          "charge"
        ],
        "summary": "Delete a charge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "charge ID or correlation ID. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "chargeId": {
                "value": "Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="
              },
              "correlationID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The charge deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "the id previously informed to be found and deleted"
                    }
                  },
                  "example": {
                    "status": "OK",
                    "id": "fe7834b4060c488a9b0f89811be5f5cf"
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "charge"
        ],
        "summary": "Edit expiration date of a charge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "correlation ID. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "correlationID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "requestBody": {
          "description": "Expires date to update charge",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/ChargePatchPayload"
              },
              "example": {
                "expiresDate": "2021-04-01T17:28:51.882Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The charge was updated to new expiration date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "the id previously informed to be found and deleted"
                    },
                    "expiresDate": {
                      "type": "string",
                      "description": "new date to expire specfic charge"
                    }
                  },
                  "example": {
                    "charge": {
                      "status": "ACTIVE",
                      "customer": {
                        "name": "Dan",
                        "email": "email0@example.com",
                        "phone": "5511999999999",
                        "taxID": {
                          "taxID": "31324227036",
                          "type": "BR:CPF"
                        }
                      },
                      "value": 100,
                      "comment": "good",
                      "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                      "paymentLinkID": "7777a23s-6f71-427a-bf00-241681624586",
                      "paymentLinkUrl": "https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586",
                      "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png",
                      "expiresIn": 2592000,
                      "expiresDate": "2021-04-01T17:28:51.882Z",
                      "createdAt": "2021-03-02T17:28:51.882Z",
                      "updatedAt": "2021-03-02T17:28:51.882Z",
                      "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                      "additionalInfo": [
                        {
                          "key": "Product",
                          "value": "Pencil"
                        },
                        {
                          "key": "Invoice",
                          "value": "18476"
                        },
                        {
                          "key": "Order",
                          "value": "302"
                        }
                      ],
                      "paymentMethods": {
                        "pix": {
                          "method": "PIX_COB",
                          "transactionID": "9134e286-6f71-427a-bf00-241681624586",
                          "identifier": "9134e286-6f71-427a-bf00-241681624586",
                          "additionalInfo": [],
                          "fee": 50,
                          "value": 200,
                          "status": "ACTIVE",
                          "txId": "9134e286-6f71-427a-bf00-241681624586",
                          "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                          "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "charge"
        ],
        "summary": "Get one charge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "charge ID or correlation ID. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fe7834b4060c488a9b0f89811be5f5cf"
          }
        ],
        "responses": {
          "200": {
            "description": "The charge retrieve using the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charge": {
                      "type": "object",
                      "$ref": "#/components/schemas/Charge"
                    }
                  },
                  "example": {
                    "charge": {
                      "status": "ACTIVE",
                      "customer": {
                        "name": "Dan",
                        "email": "email0@example.com",
                        "phone": "5511999999999",
                        "taxID": {
                          "taxID": "31324227036",
                          "type": "BR:CPF"
                        }
                      },
                      "value": 100,
                      "comment": "good",
                      "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                      "paymentLinkID": "7777-6f71-427a-bf00-241681624586",
                      "paymentLinkUrl": "https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586",
                      "globalID": "Q2hhcmdlOjcxOTFmMWIwMjA0NmJmNWY1M2RjZmEwYg==",
                      "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png",
                      "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                      "additionalInfo": [
                        {
                          "key": "Product",
                          "value": "Pencil"
                        },
                        {
                          "key": "Invoice",
                          "value": "18476"
                        },
                        {
                          "key": "Order",
                          "value": "302"
                        }
                      ],
                      "expiresIn": 2592000,
                      "expiresDate": "2021-04-01T17:28:51.882Z",
                      "createdAt": "2021-03-02T17:28:51.882Z",
                      "updatedAt": "2021-03-02T17:28:51.882Z",
                      "paymentMethods": {
                        "pix": {
                          "method": "PIX_COB",
                          "transactionID": "9134e286-6f71-427a-bf00-241681624586",
                          "identifier": "9134e286-6f71-427a-bf00-241681624586",
                          "additionalInfo": [],
                          "fee": 50,
                          "value": 200,
                          "status": "ACTIVE",
                          "txId": "9134e286-6f71-427a-bf00-241681624586",
                          "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                          "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/charge": {
      "get": {
        "tags": [
          "charge"
        ],
        "summary": "Get a list of charges",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "$ref": "#/components/schemas/Start"
            }
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "$ref": "#/components/schemas/End"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "customer",
            "description": "Customer Correlation ID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "description": "Subscription Correlation ID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of charges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Charge"
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "skip": {
                                    "type": "number"
                                  },
                                  "limit": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "skip": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "pageInfo": {
                      "skip": 0,
                      "limit": 10,
                      "totalCount": 20,
                      "hasPreviousPage": false,
                      "hasNextPage": true
                    },
                    "charges": {
                      "status": "ACTIVE",
                      "customer": {
                        "name": "Dan",
                        "email": "email0@example.com",
                        "phone": "5511999999999",
                        "taxID": {
                          "taxID": "31324227036",
                          "type": "BR:CPF"
                        }
                      },
                      "value": 100,
                      "comment": "good",
                      "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                      "paymentLinkID": "7777a23s-6f71-427a-bf00-241681624586",
                      "paymentLinkUrl": "https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586",
                      "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png",
                      "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                      "additionalInfo": [
                        {
                          "key": "Product",
                          "value": "Pencil"
                        },
                        {
                          "key": "Invoice",
                          "value": "18476"
                        },
                        {
                          "key": "Order",
                          "value": "302"
                        }
                      ],
                      "expiresIn": 2592000,
                      "expiresDate": "2021-04-01T17:28:51.882Z",
                      "createdAt": "2021-03-02T17:28:51.882Z",
                      "updatedAt": "2021-03-02T17:28:51.882Z",
                      "paymentMethods": {
                        "pix": {
                          "method": "PIX_COB",
                          "transactionID": "9134e286-6f71-427a-bf00-241681624586",
                          "identifier": "9134e286-6f71-427a-bf00-241681624586",
                          "additionalInfo": [],
                          "fee": 50,
                          "value": 200,
                          "status": "ACTIVE",
                          "txId": "9134e286-6f71-427a-bf00-241681624586",
                          "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                          "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "charge"
        ],
        "summary": "Create a new Charge",
        "parameters": [
          {
            "in": "query",
            "name": "return_existing",
            "description": "Make the endpoint idempotent, will return an existent charge if already has a one with the correlationID",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "return_existing": {
                "value": true
              }
            }
          }
        ],
        "description": "Endpoint to create a new Charge for a customer",
        "requestBody": {
          "description": "Data to create a new charge",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/ChargePayload"
              },
              "examples": {
                "Charge": {
                  "value": {
                    "correlationID": "9134e286-6f71-427a-bf00-241681624587",
                    "value": 100,
                    "comment": "good",
                    "customer": {
                      "name": "Dan",
                      "taxID": "31324227036",
                      "email": "email0@example.com",
                      "phone": "5511999999999"
                    },
                    "additionalInfo": [
                      {
                        "key": "Product",
                        "value": "Pencil"
                      },
                      {
                        "key": "Invoice",
                        "value": "18476"
                      },
                      {
                        "key": "Order",
                        "value": "302"
                      }
                    ]
                  }
                },
                "Charge with Interests and Fines": {
                  "value": {
                    "type": "OVERDUE",
                    "correlationID": "9134e286-6f71-427a-bf00-241681624587",
                    "value": 100,
                    "comment": "good",
                    "daysForDueDate": 5,
                    "daysAfterDueDate": 5,
                    "interests": {
                      "value": 10
                    },
                    "fines": {
                      "value": 20
                    },
                    "customer": {
                      "name": "Dan",
                      "taxID": "31324227036",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "address": {
                        "zipcode": "30421322",
                        "street": "Street",
                        "number": "100",
                        "neighborhood": "Neighborhood",
                        "city": "Belo Horizonte",
                        "state": "MG",
                        "complement": "APTO",
                        "country": "BR"
                      }
                    },
                    "additionalInfo": [
                      {
                        "key": "Product",
                        "value": "Pencil"
                      },
                      {
                        "key": "Invoice",
                        "value": "18476"
                      },
                      {
                        "key": "Order",
                        "value": "302"
                      }
                    ]
                  }
                },
                "Charge with Split Internal Transfer": {
                  "value": {
                    "correlationID": "9134e286-6f71-427a-bf00-241681624587",
                    "value": 100,
                    "comment": "good",
                    "customer": {
                      "name": "Dan",
                      "taxID": "31324227036",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "address": {
                        "zipcode": "30421322",
                        "street": "Street",
                        "number": "100",
                        "neighborhood": "Neighborhood",
                        "city": "Belo Horizonte",
                        "state": "MG",
                        "complement": "APTO",
                        "country": "BR"
                      }
                    },
                    "additionalInfo": [
                      {
                        "key": "Product",
                        "value": "Pencil"
                      },
                      {
                        "key": "Invoice",
                        "value": "18476"
                      },
                      {
                        "key": "Order",
                        "value": "302"
                      }
                    ],
                    "splits": [
                      {
                        "value": 10,
                        "pixKey": "676bd1f8-93cb-4354-b094-5587179d56ad"
                      }
                    ]
                  }
                },
                "Charge with Split Subaccounts": {
                  "value": {
                    "correlationID": "9134e286-6f71-427a-bf00-241681624587",
                    "value": 100,
                    "comment": "good",
                    "customer": {
                      "name": "Dan",
                      "taxID": "31324227036",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "address": {
                        "zipcode": "30421322",
                        "street": "Street",
                        "number": "100",
                        "neighborhood": "Neighborhood",
                        "city": "Belo Horizonte",
                        "state": "MG",
                        "complement": "APTO",
                        "country": "BR"
                      }
                    },
                    "additionalInfo": [
                      {
                        "key": "Product",
                        "value": "Pencil"
                      },
                      {
                        "key": "Invoice",
                        "value": "18476"
                      },
                      {
                        "key": "Order",
                        "value": "302"
                      }
                    ],
                    "splits": [
                      {
                        "value": 10,
                        "pixKey": "676bd1f8-93cb-4354-b094-5587179d56ad",
                        "splitType": "SPLIT_SUB_ACCOUNT"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge ID and also the generated Dynamic BR Code to be rendered as a QRCode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charge": {
                      "$ref": "#/components/schemas/Charge"
                    },
                    "correlationID": {
                      "type": "string"
                    },
                    "brCode": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "charge": {
                      "status": "ACTIVE",
                      "customer": {
                        "name": "Dan",
                        "email": "email0@example.com",
                        "phone": "5511999999999",
                        "taxID": {
                          "taxID": "31324227036",
                          "type": "BR:CPF"
                        }
                      },
                      "value": 100,
                      "comment": "good",
                      "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                      "paymentLinkID": "7777a23s-6f71-427a-bf00-241681624586",
                      "paymentLinkUrl": "https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586",
                      "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png",
                      "expiresIn": 2592000,
                      "expiresDate": "2021-04-01T17:28:51.882Z",
                      "createdAt": "2021-03-02T17:28:51.882Z",
                      "updatedAt": "2021-03-02T17:28:51.882Z",
                      "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                      "additionalInfo": [
                        {
                          "key": "Product",
                          "value": "Pencil"
                        },
                        {
                          "key": "Invoice",
                          "value": "18476"
                        },
                        {
                          "key": "Order",
                          "value": "302"
                        }
                      ],
                      "paymentMethods": {
                        "pix": {
                          "method": "PIX_COB",
                          "transactionID": "9134e286-6f71-427a-bf00-241681624586",
                          "identifier": "9134e286-6f71-427a-bf00-241681624586",
                          "additionalInfo": [],
                          "fee": 50,
                          "value": 200,
                          "status": "ACTIVE",
                          "txId": "9134e286-6f71-427a-bf00-241681624586",
                          "brCode": "000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA",
                          "qrCodeImage": "https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/charge/{id}/refund": {
      "get": {
        "tags": [
          "charge refund"
        ],
        "summary": "Get all refunds of a charge",
        "description": "Endpoint to get all refunds of a charge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The correlation ID of the charge. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "cf4012c9-b2ac-484d-8121-deedd1c6d8af"
              },
              "random-string": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChargeRefund"
                      }
                    }
                  },
                  "example": {
                    "refunds": [
                      {
                        "status": "IN_PROCESSING",
                        "value": 10,
                        "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                        "endToEndId": "E23114447202304181826HJNwY577YDX",
                        "time": "2021-03-02T17:28:51.882Z"
                      },
                      {
                        "status": "CONFIRMED",
                        "value": 40,
                        "correlationID": "589a378e-ab45-4f30-bd4d-4496c60f88cf",
                        "endToEndId": "E23114447202304181057pOhPMsp2pJZ",
                        "time": "2021-03-05T14:49:02.922Z",
                        "comment": "Comentário do reembolso"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "charge refund"
        ],
        "summary": "Create a new refund for a charge",
        "description": "Endpoint to create a new refund for a charge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The correlation ID of the charge. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "uuid": {
                "value": "cf4012c9-b2ac-484d-8121-deedd1c6d8af"
              },
              "random-string": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "requestBody": {
          "description": "Data to create a new refund for a charge",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/ChargeRefundPayload"
              },
              "example": {
                "correlationID": "a273e72c-9547-4c75-a213-3b0a2735b8d5",
                "value": 100,
                "comment": "Comentário do reembolso"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created Refund",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "$ref": "#/components/schemas/ChargeRefund"
                    }
                  },
                  "example": {
                    "refund": {
                      "status": "IN_PROCESSING",
                      "value": 100,
                      "correlationID": "a273e72c-9547-4c75-a213-3b0a2735b8d5",
                      "endToEndId": "E23114447202304181826HJNwY577YDX",
                      "time": "2023-03-02T17:28:51.882Z",
                      "comment": "Comentário do reembolso"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/{id}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get one customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Correlation ID or Tax ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "correlationID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              },
              "taxID": {
                "value": 123456789
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer retrieved using the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "type": "object",
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "example": {
                    "customer": {
                      "name": "Dan",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "taxID": {
                        "taxID": "31324227036",
                        "type": "BR:CPF"
                      },
                      "correlationID": "fe7834b4060c488a9b0f89811be5f5cf"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get a list of customers",
        "responses": {
          "200": {
            "description": "A list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "skip": {
                                    "type": "number"
                                  },
                                  "limit": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "skip": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "pageInfo": {
                      "skip": 0,
                      "limit": 10,
                      "totalCount": 20,
                      "hasPreviousPage": false,
                      "hasNextPage": true
                    },
                    "customers": {
                      "customer": {
                        "name": "Dan",
                        "email": "email0@example.com",
                        "phone": "5511999999999",
                        "taxID": {
                          "taxID": "31324227036",
                          "type": "BR:CPF"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Create a new Customer",
        "description": "Endpoint to create a new Customer",
        "requestBody": {
          "description": "Data to create a new customer",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/CustomerPayload"
              },
              "example": {
                "name": "Dan",
                "taxID": "31324227036",
                "email": "email0@example.com",
                "phone": "5511999999999",
                "correlationID": "9134e286-6f71-427a-bf00-241681624586",
                "address": {
                  "zipcode": "30421322",
                  "street": "Street",
                  "number": "100",
                  "neighborhood": "Neighborhood",
                  "city": "Belo Horizonte",
                  "state": "MG",
                  "complement": "APTO",
                  "country": "BR"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "example": {
                    "customer": {
                      "name": "Dan",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "taxID": {
                        "taxID": "31324227036",
                        "type": "BR:CPF"
                      },
                      "address": {
                        "zipcode": "30421322",
                        "street": "Street",
                        "number": "100",
                        "neighborhood": "Neighborhood",
                        "city": "Belo Horizonte",
                        "state": "MG",
                        "complement": "APTO",
                        "country": "BR"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/{correlationID}": {
      "patch": {
        "tags": [
          "customer"
        ],
        "summary": "Update a Customer",
        "parameters": [
          {
            "name": "correlationID",
            "in": "path",
            "description": "correlation ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "correlationID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "description": "Endpoint to update a Customer",
        "requestBody": {
          "description": "Data to update a existent customer",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/CustomerPatchPayload"
              },
              "example": {
                "name": "Dan",
                "email": "email0@example.com",
                "phone": "5511999999999",
                "address": {
                  "zipcode": "30421322",
                  "street": "Street",
                  "number": "100",
                  "neighborhood": "Neighborhood",
                  "city": "Belo Horizonte",
                  "state": "MG",
                  "complement": "APTO",
                  "country": "BR"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "example": {
                    "customer": {
                      "name": "Dan",
                      "email": "email0@example.com",
                      "phone": "5511999999999",
                      "taxID": {
                        "taxID": "31324227036",
                        "type": "BR:CPF"
                      },
                      "address": {
                        "zipcode": "30421322",
                        "street": "Street",
                        "number": "100",
                        "neighborhood": "Neighborhood",
                        "city": "Belo Horizonte",
                        "state": "MG",
                        "complement": "APTO",
                        "country": "BR"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dispute/{id}": {
      "get": {
        "tags": [
          "dispute"
        ],
        "summary": "Get one dispute",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id must be the endToEndId of the transaction that originated the Dispute",
            "example": "Ea9c291526ae54b4cb41d9909bdf6d792"
          }
        ],
        "responses": {
          "200": {
            "description": "The dispute retrieve using endToEndId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dispute": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "CREATED",
                            "ACCEPTED",
                            "REJECTED",
                            "CANCELED"
                          ]
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the payer who created this dispute."
                        },
                        "email": {
                          "type": "string",
                          "description": "The Email of the payer who created this dispute."
                        },
                        "phoneNumber": {
                          "type": "string",
                          "description": "The phone number of the payer who created this dispute."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the dispute."
                        },
                        "disputeReason": {
                          "type": "string",
                          "description": "Reason provided to justify the dispute."
                        },
                        "endToEndId": {
                          "description": "The endToEndId of the dispute (Is the same of the endToEndId transaction related).",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "dispute": {
                    "status": "ACCEPTED",
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "phoneNumber": "+5511999999999",
                    "value": 10000,
                    "disputeReason": "Product not received",
                    "endToEndId": "E7d401907cacd4d7fb9290345b93deac7"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Dispute not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error occurred"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/dispute": {
      "get": {
        "tags": [
          "dispute"
        ],
        "summary": "Get a list of disputes",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "$ref": "#/components/schemas/Start"
            }
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "$ref": "#/components/schemas/End"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of disputes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disputes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dispute"
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "skip": {
                                    "type": "number"
                                  },
                                  "limit": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "skip": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "pageInfo": {
                      "skip": 0,
                      "limit": 10,
                      "totalCount": 20,
                      "hasPreviousPage": false,
                      "hasNextPage": true
                    },
                    "disputes": [
                      {
                        "disputeReason": "Dispute reason test",
                        "email": "jorge@test.com",
                        "name": "Seu Jorge",
                        "phoneNumber": "+551199999999",
                        "status": "IN_REVIEW",
                        "value": 100,
                        "createdAt": "2021-03-02T17:28:51.882Z",
                        "updatedAt": "2021-03-02T17:28:51.882Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/application": {
      "post": {
        "tags": [
          "partner (request access)"
        ],
        "summary": "Create a new application to some of your preregistration's company.",
        "description": "As a partner company, you can create a new application to some of your companies.\nThe application should give access to our API to this companies, so they can use\nit too.\n",
        "requestBody": {
          "description": "The request body to create a pre registration.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name you want to give your application"
                      },
                      "type": {
                        "$ref": "#/components/schemas/ApplicationEnumTypePayload"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  },
                  "taxID": {
                    "$ref": "#/components/schemas/TaxIDObjectPayload",
                    "required": [
                      "taxID",
                      "type"
                    ]
                  }
                }
              },
              "example": {
                "application": {
                  "name": "MyAPIAccess",
                  "type": "API"
                },
                "taxID": {
                  "taxID": "65914571000187",
                  "type": "BR:CNPJ"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Our \"idempotence output\", if you get this HTTP code, it's an application\nthat already has been registered.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/PartnerApplicationPayload"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "A new application has been registered. It'll be identified by the name that you give to it\nand by the company that has been referenced.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/PartnerApplicationPayload"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You are unauthorized to use this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/company/{taxID}": {
      "get": {
        "tags": [
          "partner (request access)"
        ],
        "summary": "Get an specific preregistration via taxID param.",
        "parameters": [
          {
            "name": "taxID",
            "in": "path",
            "description": "The raw tax ID from the preregistration that you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "taxID": {
                "value": "60151449000182"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preregistration retrieved by the tax ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preRegistration": {
                      "type": "object",
                      "properties": {
                        "preRegistration": {
                          "$ref": "#/components/schemas/PreRegistrationObjectPayload"
                        },
                        "user": {
                          "$ref": "#/components/schemas/PreRegistrationUserObject"
                        },
                        "company": {
                          "$ref": "#/components/schemas/CompanyObjectPayload"
                        },
                        "account": {
                          "$ref": "#/components/schemas/AccountObjectPayload"
                        }
                      },
                      "required": [
                        "preRegistration",
                        "user"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/partner/company": {
      "get": {
        "tags": [
          "partner (request access)"
        ],
        "summary": "Get every preregistration that is managed by you.",
        "responses": {
          "200": {
            "description": "A list with preregistrations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preRegistrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "preRegistration": {
                            "$ref": "#/components/schemas/PreRegistrationObjectPayload"
                          },
                          "user": {
                            "$ref": "#/components/schemas/PreRegistrationUserObject"
                          },
                          "company": {
                            "$ref": "#/components/schemas/CompanyObjectPayload"
                          },
                          "account": {
                            "$ref": "#/components/schemas/AccountObjectPayload"
                          }
                        },
                        "required": [
                          "preRegistration",
                          "user"
                        ]
                      }
                    },
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "skip": {
                                    "type": "number"
                                  },
                                  "limit": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "skip": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        },
                        "hasPreviousPage": {
                          "type": "boolean"
                        },
                        "hasNextPage": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "partner (request access)"
        ],
        "summary": "Create a pre registration with a partner reference (your company)",
        "description": "As a partner company, you can create a new pre registration referencing your\ncompany as a partner.\n",
        "requestBody": {
          "description": "The request body to create a pre registration.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/PreRegistrationPayloadObject"
              },
              "example": {
                "preRegistration": {
                  "name": "Example LLC",
                  "taxID": {
                    "taxID": "11111111111111",
                    "type": "BR:CNPJ"
                  },
                  "website": "examplellc.com"
                },
                "user": {
                  "firstName": "John",
                  "lastName": "Doe",
                  "email": "johndoe@examplellc.com",
                  "phone": "+5511912345678",
                  "taxID": {
                    "taxID": "1111111111",
                    "type": "BR:CPF"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payload with a pre registration data.\nBeing the taxID our idempotence key, if you do the request with the same taxID multiple times,\nevery time you'll receive the same data from our endpoint.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreRegistrationPayloadObject"
                }
              }
            }
          },
          "201": {
            "description": "A new preregistration that is related to you has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreRegistrationPayloadObject"
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You are unauthorized to use this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/approve": {
      "post": {
        "tags": [
          "payment (request access)"
        ],
        "summary": "Approve a Payment Request",
        "description": "Endpoint to approve a payment",
        "requestBody": {
          "description": "Data to approve a payment request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/PaymentApprovePayload"
              },
              "example": {
                "correlationID": "payment1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The approved payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "type": "object",
                      "$ref": "#/components/schemas/Payment"
                    },
                    "transaction": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaymentTransaction"
                    },
                    "destination": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaymentDestination"
                    }
                  },
                  "example": {
                    "payment": {
                      "value": 100,
                      "status": "APPROVED",
                      "destinationAlias": "c4249323-b4ca-43f2-8139-8232aab09b93",
                      "comment": "payment comment",
                      "correlationID": "payment1"
                    },
                    "transaction": {
                      "value": 100,
                      "endToEndId": "transaction-end-to-end-id",
                      "time": "2023-03-20T13:14:17.000Z"
                    },
                    "destination": {
                      "name": "Dan",
                      "taxID": "31324227036",
                      "pixKey": "c4249323-b4ca-43f2-8139-8232aab09b93",
                      "bank": "A Bank",
                      "branch": "1",
                      "account": "123456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/{id}": {
      "get": {
        "tags": [
          "payment (request access)"
        ],
        "summary": "Get one Payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "payment ID or correlation ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "paymentID": {
                "value": "Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="
              },
              "correlationID": {
                "value": "fe7834b4060c488a9b0f89811be5f5cf"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The payment retrieved using the given ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "type": "object",
                      "$ref": "#/components/schemas/Payment"
                    },
                    "transaction": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaymentTransaction"
                    },
                    "destination": {
                      "type": "object",
                      "$ref": "#/components/schemas/PaymentDestination"
                    }
                  },
                  "example": {
                    "payment": {
                      "value": 100,
                      "status": "CONFIRMED",
[...]
