{"openapi":"3.0.3","info":{"title":"OpenPix","description":"A OpenPix é uma Plataforma de Gestão de Pagamentos. Para utilizar nossa API você deve acessar  __[https://api.openpix.com.br/](https://api.openpix.com.br/)__ e somente o mesmo. A OpenPix não aceita subdominios para a API.","version":"1.0.0"},"servers":[{"url":"https://api.openpix.com.br/","description":"Production server"}],"security":[{"AppID":[]}],"paths":{"/api/openpix/v1/charge/{id}":{"delete":{"tags":["charge"],"summary":"Delete a charge","parameters":[{"name":"id","in":"path","description":"charge ID or correlation ID. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).","required":true,"schema":{"type":"string"},"examples":{"chargeId":{"value":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="},"correlationID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}}],"responses":{"200":{"description":"The charge deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"id":{"type":"string","description":"the id previously informed to be found and deleted"}},"example":{"status":"OK","id":"fe7834b4060c488a9b0f89811be5f5cf"}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/charge/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"//api/openpix/v1/charge/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\")\n  .delete(null)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"get":{"tags":["charge"],"summary":"Get one charge","parameters":[{"name":"id","in":"path","description":"charge ID or correlation ID. You will need URI encoding if your correlation ID has characters outside the ASCII set or reserved characters (%, \\#, /).","required":true,"schema":{"type":"string"},"examples":{"chargeId":{"value":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="},"correlationID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}}],"responses":{"200":{"description":"The charge retrieve using the given ID","content":{"application/json":{"schema":{"type":"object","properties":{"charge":{"type":"object","$ref":"#/components/schemas/Charge"}},"example":{"charge":{"status":"ACTIVE","customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"}},"value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","paymentLinkID":"7777-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","globalID":"Q2hhcmdlOjcxOTFmMWIwMjA0NmJmNWY1M2RjZmEwYg==","qrCodeImage":"https://api.openpix.dev/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","additionalInfo":[{"key":"Product","value":"Pencil"},{"key":"Invoice","value":"18476"},{"key":"Order","value":"302"}],"expiresIn":2592000,"expiresDate":"2021-04-01T17:28:51.882Z","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/charge/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/charge/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/charge/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/charge":{"get":{"tags":["charge"],"summary":"Get a list of charges","parameters":[{"in":"query","name":"start","schema":{"type":"string","format":"date-time","title":"Start Date","description":"Start date used in the query. Complies with RFC 3339.","example":"2020-01-01T00:00:00Z"}},{"in":"query","name":"end","schema":{"type":"string","format":"date-time","title":"End Date","description":"End date used in the query. Complies with RFC 3339.","example":"2020-12-01T17:00:00Z"}},{"name":"status","in":"query","schema":{"type":"string","enum":["ACTIVE","COMPLETED","EXPIRED"]}}],"responses":{"200":{"description":"A list of charges","content":{"application/json":{"schema":{"type":"object","properties":{"charges":{"type":"array","items":{"$ref":"#/components/schemas/Charge"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}},"skip":{"type":"number"},"limit":{"type":"number"},"totalCount":{"type":"number"},"hasPreviousPage":{"type":"boolean"},"hasNextPage":{"type":"boolean"}}}},"example":{"pageInfo":{"skip":0,"limit":10,"totalCount":20,"hasPreviousPage":false,"hasNextPage":true},"charges":{"status":"ACTIVE","customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"}},"value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","paymentLinkID":"7777a23s-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","qrCodeImage":"https://api.openpix.dev/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","additionalInfo":[{"key":"Product","value":"Pencil"},{"key":"Invoice","value":"18476"},{"key":"Order","value":"302"}],"expiresIn":2592000,"expiresDate":"2021-04-01T17:28:51.882Z","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.openpix.com.br//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/charge?start=2020-01-01T00%3A00%3A00Z&end=2020-12-01T17%3A00%3A00Z&status=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"post":{"tags":["charge"],"summary":"Create a new Charge","parameters":[{"in":"query","name":"return_existing","description":"Make the endpoint idempotent, will return an existent charge if already has a one with the correlationID","required":false,"schema":{"type":"boolean"},"examples":{"return_existing":{"value":true}}}],"description":"Endpoint to create a new Charge for a customer","requestBody":{"description":"Data to create a new charge","required":true,"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/ChargePayload"},"example":{"correlationID":"9134e286-6f71-427a-bf00-241681624586","value":100,"comment":"good","customer":{"name":"Dan","taxID":"31324227036","email":"email0@example.com","phone":"5511999999999"},"additionalInfo":[{"key":"Product","value":"Pencil"},{"key":"Invoice","value":"18476"},{"key":"Order","value":"302"}]}}}},"responses":{"200":{"description":"Charge ID and also the generated Dynamic BR Code to be rendered as a QRCode","content":{"application/json":{"schema":{"type":"object","properties":{"charge":{"$ref":"#/components/schemas/Charge"},"correlationID":{"type":"string"},"brCode":{"type":"string"}},"example":{"charge":{"status":"ACTIVE","customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"}},"value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","paymentLinkID":"7777a23s-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","qrCodeImage":"https://api.openpix.dev/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","expiresIn":2592000,"expiresDate":"2021-04-01T17:28:51.882Z","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","additionalInfo":[{"key":"Product","value":"Pencil"},{"key":"Invoice","value":"18476"},{"key":"Order","value":"302"}]}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  correlationID: 'string',\n  value: 0,\n  comment: 'string',\n  identifier: 'string',\n  expiresIn: 0,\n  customer: {name: 'string', email: 'string', phone: 'string', taxID: 'string'},\n  additionalInfo: [{key: 'string', value: 'string'}]\n}));\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url 'https://api.openpix.com.br//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\",\"identifier\":\"string\",\"expiresIn\":0,\"customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\"},\"additionalInfo\":[{\"key\":\"string\",\"value\":\"string\"}]}'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/charge?return_existing=SOME_BOOLEAN_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\",\\\"expiresIn\\\":0,\\\"customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"},\\\"additionalInfo\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\"}]}\"\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/refund/{id}":{"get":{"tags":["refund"],"summary":"Get one refund","parameters":[{"name":"id","in":"path","description":"refund ID or correlation ID","required":true,"schema":{"type":"string"},"examples":{"id":{"value":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="},"correlationID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}}],"responses":{"200":{"description":"The refund retrieve using the given ID","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"type":"object","$ref":"#/components/schemas/Refund"}},"example":{"refund":{"value":100,"correlationID":"7777-6f71-427a-bf00-241681624586","refundId":"11bf5b37e0b842e08dcfdc8c4aefc000","returnIdentification":"D09089356202108032000a543e325902"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/refund/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/refund/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/refund/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/refund/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/refund/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/refund/%7Bid%7D\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/refund/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/refund":{"get":{"tags":["refund"],"summary":"Get a list of refunds","responses":{"200":{"description":"A list of refunds","content":{"application/json":{"schema":{"type":"object","properties":{"refunds":{"type":"array","items":{"$ref":"#/components/schemas/Refund"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}},"skip":{"type":"number"},"limit":{"type":"number"},"totalCount":{"type":"number"},"hasPreviousPage":{"type":"boolean"},"hasNextPage":{"type":"boolean"}}}},"example":{"pageInfo":{"skip":0,"limit":10,"totalCount":20,"hasPreviousPage":false,"hasNextPage":true},"refunds":{"status":"IN_PROCESSING","value":100,"correlationID":"9134e286-6f71-427a-bf00-241681624586","refundId":"9134e2866f71427abf00241681624586","time":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/refund\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/refund \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/refund\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/refund\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/refund\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/refund\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/refund\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"post":{"tags":["refund"],"summary":"Create a new refund","description":"Endpoint to create a new refund for a customer","requestBody":{"description":"Data to create a new refund","required":true,"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/RefundPayload"},"example":{"transactionEndToEndId":"9134e286-6f71-427a-bf00-241681624586","correlationID":"9134e286-6f71-427a-bf00-241681624586","value":100}}}},"responses":{"200":{"description":"The created Refund","content":{"application/json":{"schema":{"type":"object","properties":{"refund":{"$ref":"#/components/schemas/Refund"}},"example":{"refund":{"status":"IN_PROCESSING","value":100,"correlationID":"9134e286-6f71-427a-bf00-241681624586","refundId":"9134e2866f71427abf00241681624586","time":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/refund\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({value: 0, transactionEndToEndId: 'string', correlationID: 'string'}));\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.openpix.com.br//api/openpix/v1/refund \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"value\":0,\"transactionEndToEndId\":\"string\",\"correlationID\":\"string\"}'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/refund\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"value\\\":0,\\\"transactionEndToEndId\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"value\\\":0,\\\"transactionEndToEndId\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"//api/openpix/v1/refund\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/refund\"\n\n\tpayload := strings.NewReader(\"{\\\"value\\\":0,\\\"transactionEndToEndId\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"value\\\":0,\\\"transactionEndToEndId\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/refund\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/refund\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"value\\\":0,\\\"transactionEndToEndId\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/customer/{id}":{"get":{"tags":["customer"],"summary":"Get one customer","parameters":[{"name":"id","in":"path","description":"correlation ID","required":true,"schema":{"type":"string"},"examples":{"correlationID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}}],"responses":{"200":{"description":"The customer retrieve using the given ID","content":{"application/json":{"schema":{"type":"object","properties":{"customer":{"type":"object","$ref":"#/components/schemas/Customer"}},"example":{"customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"},"correlationID":"fe7834b4060c488a9b0f89811be5f5cf"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/customer/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/customer/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/customer/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/customer/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/customer/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/customer/%7Bid%7D\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/customer/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/customer":{"get":{"tags":["customer"],"summary":"Get a list of customers","responses":{"200":{"description":"A list of customers","content":{"application/json":{"schema":{"type":"object","properties":{"customers":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}},"skip":{"type":"number"},"limit":{"type":"number"},"totalCount":{"type":"number"},"hasPreviousPage":{"type":"boolean"},"hasNextPage":{"type":"boolean"}}}},"example":{"pageInfo":{"skip":0,"limit":10,"totalCount":20,"hasPreviousPage":false,"hasNextPage":true},"customers":{"customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"}}}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/customer\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/customer \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/customer\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/customer\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/customer\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/customer\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/customer\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"post":{"tags":["customer"],"summary":"Create a new Customer","description":"Endpoint to create a new Customer","requestBody":{"description":"Data to create a new customer","required":true,"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/CustomerPayload"},"example":{"name":"Dan","taxID":"31324227036","email":"email0@example.com","phone":"5511999999999","correlationID":"9134e286-6f71-427a-bf00-241681624586"}}}},"responses":{"200":{"description":"Customer ID","content":{"application/json":{"schema":{"type":"object","properties":{"customer":{"$ref":"#/components/schemas/Customer"}},"example":{"customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"}}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/customer\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  Customer: {\n    name: 'string',\n    email: 'string',\n    phone: 'string',\n    taxID: 'string',\n    correlationID: 'string'\n  }\n}));\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.openpix.com.br//api/openpix/v1/customer \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"Customer\":{\"name\":\"string\",\"email\":\"string\",\"phone\":\"string\",\"taxID\":\"string\",\"correlationID\":\"string\"}}'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/customer\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"Customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"Customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"//api/openpix/v1/customer\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/customer\"\n\n\tpayload := strings.NewReader(\"{\\\"Customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"Customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/customer\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/customer\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"Customer\\\":{\\\"name\\\":\\\"string\\\",\\\"email\\\":\\\"string\\\",\\\"phone\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/transaction/{id}":{"get":{"tags":["transactions"],"summary":"Get a Transaction","parameters":[{"name":"id","in":"path","description":"you can use the transaction id from openpix or the endToEndId of transaction from bank","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The transaction retrieve using the given ID","content":{"application/json":{"schema":{"type":"object","properties":{"transaction":{"type":"object","$ref":"#/components/schemas/Transaction"}}},"example":{"transaction":{"customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"payer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"charge":{"status":"ACTIVE","customer":"603f81fcc6bccc24326ffb43","correlationID":"9134e286-6f71-427a-bf00-241681624586","createdAt":"2021-03-03T12:33:00.546Z","updatedAt":"2021-03-03T12:33:00.546Z"},"infoPagador":"payer info 0","value":100,"time":"2021-03-03T12:33:00.536Z","transactionID":"transactionID","endToEndId":"E18236120202012032010s0133872GZA","globalID":"UGl4VHJhbnNhY3Rpb246NzE5MWYxYjAyMDQ2YmY1ZjUzZGNmYTBi"}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/transaction/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/transaction/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/transaction/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/transaction/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/transaction/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/transaction/%7Bid%7D\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/transaction/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/transaction":{"parameters":[{"in":"query","name":"start","schema":{"$ref":"#/components/schemas/Start"}},{"in":"query","name":"end","schema":{"$ref":"#/components/schemas/End"}},{"in":"query","name":"charge","description":"You can use the charge ID or correlation ID or transaction ID of charge to get a list of transactions related of this transaction","schema":{"type":"string"},"example":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA"},{"in":"query","name":"pixQrCode","description":"You can use the QrCode static ID or correlation ID or identifier field of QrCode static to get a list of QrCode related of this transaction","schema":{"type":"string"},"example":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA"}],"get":{"tags":["transactions"],"summary":"Get a list of transactions","responses":{"200":{"description":"A list of transactions","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}},"skip":{"type":"number"},"limit":{"type":"number"},"totalCount":{"type":"number"},"hasPreviousPage":{"type":"boolean"},"hasNextPage":{"type":"boolean"}}}}},"example":{"pageInfo":{"skip":0,"limit":10,"totalCount":20,"hasPreviousPage":false,"hasNextPage":true},"transactions":{"customer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"payer":{"name":"Dan","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31324227036","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"charge":{"status":"ACTIVE","customer":"603f81fcc6bccc24326ffb43","correlationID":"9134e286-6f71-427a-bf00-241681624586","createdAt":"2021-03-03T12:33:00.546Z","updatedAt":"2021-03-03T12:33:00.546Z"},"infoPagador":"payer info 0","value":100,"time":"2021-03-03T12:33:00.536Z","transactionID":"transactionID","endToEndId":"E18236120202012032010s0133872GZA"}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/transaction\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/transaction \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/transaction\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/transaction\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/transaction\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/transaction\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/transaction\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/webhook/{id}":{"delete":{"tags":["webhook"],"summary":"Delete a Webhook","description":"Endpoint to delete a Webhook","parameters":[{"name":"id","in":"path","description":"webhook ID","required":true,"schema":{"type":"string"},"examples":{"webhookID":{"value":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="},"id":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}}],"responses":{"200":{"description":"Webhook ID and also the status code","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"status":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/webhook/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request DELETE \\\n  --url https://api.openpix.com.br//api/openpix/v1/webhook/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/webhook/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"//api/openpix/v1/webhook/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/webhook/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/webhook/%7Bid%7D\")\n  .delete(null)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/webhook/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/webhook":{"get":{"parameters":[{"in":"query","name":"url","description":"You can use the url to filter all webhooks","schema":{"type":"string"},"example":"https://mycompany.com.br/webhook"}],"tags":["webhook"],"summary":"Get a list of webhooks","responses":{"200":{"description":"A list of webhooks","content":{"application/json":{"schema":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}}}}},"example":{"pageInfo":{"skip":0,"limit":100,"totalCount":2,"hasPreviousPage":false,"hasNextPage":true},"webhooks":[{"id":"V2ViaG9vazo2MDNlYmUxZWRlYjkzNWU4NmQyMmNmMTg=","name":"webhookName","url":"https://mycompany.com.br/webhook","authorization":"openpix","event":"OPENPIX:TRANSACTION_RECEIVED","isActive":true,"createdAt":"2021-03-02T22:29:10.720Z","updatedAt":"2021-03-02T22:29:10.720Z"},{"id":"V2ViaG9vazo2MDNlYmUxZWRlYjkzNWU4NmQyMmNmOTk=","name":"webhookName","url":"https://mycompany.com.br/webhook","authorization":"openpix","event":"OPENPIX:CHARGE_CREATED","isActive":true,"createdAt":"2021-03-02T22:29:10.720Z","updatedAt":"2021-03-02T22:29:10.720Z"}]}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/webhook?url=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.openpix.com.br//api/openpix/v1/webhook?url=SOME_STRING_VALUE' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/webhook?url=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/webhook?url=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/webhook?url=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/webhook?url=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/webhook?url=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"post":{"tags":["webhook"],"summary":"Create a new Webhook","description":"Endpoint to create a new Webhook","requestBody":{"description":"Data to create a new webhook","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"type":"object","$ref":"#/components/schemas/WebhookPayload"}},"example":{"webhook":{"name":"webhookName","url":"https://mycompany.com.br/webhook","authorization":"openpix","isActive":true}}}}}},"responses":{"200":{"description":"Webhook created specific event when receives a new pix transaction","content":{"application/json":{"schema":{"type":"object","properties":{"webhook":{"type":"object","$ref":"#/components/schemas/Webhook"}},"example":{"webhook":{"id":"V2ViaG9vazo2MDNlYmUxZWRlYjkzNWU4NmQyMmNmMTg=","name":"webhookName","url":"https://mycompany.com.br/webhook","authorization":"openpix","isActive":true,"event":"OPENPIX:TRANSACTION_RECEIVED","createdAt":"2021-03-02T22:29:10.720Z","updatedAt":"2021-03-02T22:29:10.720Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"callbacks":{"receivedPix":{"{$request.body#/webhook.url}":{"post":{"description":"Pix - O callback vai ser acionado sempre que um Pix for recebido enviando uma charge e um pix\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"charge":{"type":"object","$ref":"#/components/schemas/Charge"},"pix":{"type":"object","properties":{"pixQrCode":{"type":"object","$ref":"#/components/schemas/PixQrCode"},"charge":{"type":"object","$ref":"#/components/schemas/Charge"},"customer":{"type":"object","$ref":"#/components/schemas/Customer"},"payer":{"type":"object","$ref":"#/components/schemas/Customer"},"time":{"type":"string"},"value":{"type":"string"},"transactionID":{"type":"string"},"infoPagador":{"type":"string"},"raw":{"type":"object","properties":{"endToEndId":{"type":"string"},"txid":{"type":"string"},"valor":{"type":"string"},"horario":{"type":"string"},"infoPagador":{"type":"string"}}}}},"pixQrCode":{"type":"object"}},"example":{"charge":{"status":"COMPLETED","customer":{"name":"Julio","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31928282008","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"correlationID":"9134e286-6f71-427a-bf00-241681624586","transactionID":"9134e2866f71427abf00241681624586","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","createdAt":"2021-03-03T20:49:23.605Z","updatedAt":"2021-03-03T20:49:23.668Z"},"pix":{"pixQrCode":null,"charge":{"status":"COMPLETED","customer":"604002035cce3b60132343cb","correlationID":"9134e286-6f71-427a-bf00-241681624586","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","createdAt":"2021-03-03T21:39:15.831Z","updatedAt":"2021-03-03T21:39:15.896Z"},"customer":{"name":"Julio","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31928282008","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"payer":{"name":"Julio","email":"email0@example.com","phone":"5511999999999","taxID":{"taxID":"31928282008","type":"BR:CPF"},"correlationID":"9134e286-6f71-427a-bf00-241681624586"},"time":"2020-09-09T20:15:00.358Z","value":9999,"transactionID":"9134e2866f71427abf00241681624586","infoPagador":"conta","raw":{"endToEndId":"9134e2866f71427abf00241681624586","txid":"9134e2866f71427abf00241681624586","valor":"99.99","horario":"2020-09-09T20:15:00.358Z","infoPagador":"conta"}},"pixQrCode":null}}}}},"responses":{"200":{"description":"Notificação recebida com sucesso"}}}}},"receivedPixDetached":{"{$request.body#/webhook.url}":{"post":{"description":"Pix Avulso - O callback vai ser acionado sempre que um Pix for recebido devolvendo um pix avulso\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"charge":{"type":"object"},"pix":{"type":"object","properties":{"pixQrCode":{"type":"object","$ref":"#/components/schemas/PixQrCode"},"charge":{"type":"object","$ref":"#/components/schemas/Charge"},"customer":{"type":"object","$ref":"#/components/schemas/Customer"},"payer":{"type":"object","$ref":"#/components/schemas/Customer"},"time":{"type":"string"},"value":{"type":"string"},"transactionID":{"type":"string"},"infoPagador":{"type":"string"},"raw":{"type":"object","properties":{"endToEndId":{"type":"string"},"txid":{"type":"string"},"valor":{"type":"string"},"horario":{"type":"string"},"infoPagador":{"type":"string"}}}}},"pixQrCode":{"type":"object"}},"example":{"charge":null,"pix":{"pixQrCode":null,"charge":null,"customer":null,"time":"2020-09-09T20:15:00.358Z","value":9999,"transactionID":"9134e2866f71427abf00241681624586","infoPagador":"conta","raw":{"endToEndId":"9134e2866f71427abf00241681624586","txid":"9134e2866f71427abf00241681624586","valor":"99.99","horario":"2020-09-09T20:15:00.358Z","infoPagador":"conta"}}}}}}},"responses":{"200":{"description":"Notificação recebida com sucesso"}}}}},"receivedPixQrCode":{"{$request.body#/webhook.url}":{"post":{"description":"Pix QrCode - O callback vai ser acionado sempre que um Pix QrCOde for recebido devolvendo um pix e um pixQrCode\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"charge":{"type":"object"},"pix":{"type":"object","properties":{"pixQrCode":{"type":"object","$ref":"#/components/schemas/PixQrCode"},"charge":{"type":"object","$ref":"#/components/schemas/Charge"},"payer":{"type":"object","$ref":"#/components/schemas/Customer"},"time":{"type":"string"},"value":{"type":"string"},"transactionID":{"type":"string"},"infoPagador":{"type":"string"},"raw":{"type":"object","properties":{"endToEndId":{"type":"string"},"txid":{"type":"string"},"valor":{"type":"string"},"horario":{"type":"string"},"infoPagador":{"type":"string"}}}}},"pixQrCode":{"type":"object","$ref":"#/components/schemas/PixQrCode"}},"example":{"charge":null,"pix":{"pixQrCode":{"value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","identifier":"9134e2866f71427abf00241681624586","paymentLinkID":"7777a23s-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","qrCodeImage":"https://api.openpix.dev/openpix/pixQrCode/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA"},"customer":null,"time":"2020-09-09T20:15:00.358Z","value":9999,"transactionID":"9134e2866f71427abf00241681624586","infoPagador":"conta","raw":{"endToEndId":"9134e2866f71427abf00241681624586","txid":"9134e2866f71427abf00241681624586","valor":"99.99","horario":"2020-09-09T20:15:00.358Z","infoPagador":"conta"}}}}}}},"responses":{"200":{"description":"Notificação recebida com sucesso"}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/webhook\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  webhook: {\n    name: 'webhookName',\n    url: 'https://mycompany.com.br/webhook',\n    authorization: 'openpix',\n    isActive: true\n  }\n}));\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.openpix.com.br//api/openpix/v1/webhook \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"webhook\":{\"name\":\"webhookName\",\"url\":\"https://mycompany.com.br/webhook\",\"authorization\":\"openpix\",\"isActive\":true}}'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/webhook\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"webhook\\\":{\\\"name\\\":\\\"webhookName\\\",\\\"url\\\":\\\"https://mycompany.com.br/webhook\\\",\\\"authorization\\\":\\\"openpix\\\",\\\"isActive\\\":true}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"webhook\\\":{\\\"name\\\":\\\"webhookName\\\",\\\"url\\\":\\\"https://mycompany.com.br/webhook\\\",\\\"authorization\\\":\\\"openpix\\\",\\\"isActive\\\":true}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"//api/openpix/v1/webhook\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/webhook\"\n\n\tpayload := strings.NewReader(\"{\\\"webhook\\\":{\\\"name\\\":\\\"webhookName\\\",\\\"url\\\":\\\"https://mycompany.com.br/webhook\\\",\\\"authorization\\\":\\\"openpix\\\",\\\"isActive\\\":true}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"webhook\\\":{\\\"name\\\":\\\"webhookName\\\",\\\"url\\\":\\\"https://mycompany.com.br/webhook\\\",\\\"authorization\\\":\\\"openpix\\\",\\\"isActive\\\":true}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/webhook\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/webhook\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"webhook\\\":{\\\"name\\\":\\\"webhookName\\\",\\\"url\\\":\\\"https://mycompany.com.br/webhook\\\",\\\"authorization\\\":\\\"openpix\\\",\\\"isActive\\\":true}}\"\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/openpix/charge/brcode/image/{:id}.png?size=1024":{"get":{"tags":["charge"],"summary":"Get an image of Qr Code from a Charge","parameters":[{"in":"path","name":"id","description":"charge link payment ID","required":true,"schema":{"type":"string"},"examples":{"paymentLinkID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"}}},{"in":"query","name":"size","description":"Size for the image. This size should be between 600 and 4096. if the size parameter was not passed, the default value will be 1024.","required":false,"schema":{"type":"string"},"examples":{"size":{"value":768}}}],"responses":{"200":{"description":"The Qr Code image as MIME type"},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://api.openpix.com.br//openpix/charge/brcode/image/%7B:id%7D.png?size=1024' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//openpix/charge/brcode/image/%7B:id%7D.png?size=1024\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/pixQrCode-static/{id}":{"get":{"tags":["pixQrCode"],"summary":"Get one Pix QrCode","parameters":[{"name":"id","in":"path","description":"pixQrCode ID, correlation ID or emv identifier","required":true,"schema":{"type":"string"},"examples":{"pixQrCodeId":{"value":"Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA=="},"correlationID":{"value":"fe7834b4060c488a9b0f89811be5f5cf"},"identifier":{"value":"zr7833b4060c488a9b0f89811"}}}],"responses":{"200":{"description":"The pixQrCode retrieve using the given ID","content":{"application/json":{"schema":{"type":"object","properties":{"pixQrCode":{"type":"object","$ref":"#/components/schemas/PixQrCode"}},"example":{"pixQrCode":{"name":"pix qrcode static","value":100,"comment":"pix qrcode static","correlationID":"fe7834b4060c488a9b0f89811be5f5cf","identifier":"zr7833b4060c488a9b0f89811","paymentLinkID":"7777-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/fe7834b4060c488a9b0f89811be5f5cf","qrCodeImage":"https://api.openpix.dev/openpix/charge/brcode/image/fe7834b4060c488a9b0f89811be5f5cf.png","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/pixQrCode-static/%7Bid%7D\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/pixQrCode-static/%7Bid%7D \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/pixQrCode-static/%7Bid%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/pixQrCode-static/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/pixQrCode-static/%7Bid%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/pixQrCode-static/%7Bid%7D\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/pixQrCode-static/%7Bid%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/qrcode-static":{"get":{"tags":["pixQrCode"],"summary":"Get a list of Pix QrCodes","responses":{"200":{"description":"A list of pixQrCodes","content":{"application/json":{"schema":{"type":"object","properties":{"pixQrCodes":{"type":"array","items":{"$ref":"#/components/schemas/PixQrCode"}},"pageInfo":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"data":{"type":"object","properties":{"skip":{"type":"number"},"limit":{"type":"number"}}}}}},"skip":{"type":"number"},"limit":{"type":"number"},"totalCount":{"type":"number"},"hasPreviousPage":{"type":"boolean"},"hasNextPage":{"type":"boolean"}}}},"example":{"pageInfo":{"skip":0,"limit":10,"totalCount":20,"hasPreviousPage":false,"hasNextPage":true},"pixQrCodes":{"name":"pix qrcode","value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","identifier":"zr7833b4060c488a9b0f89811","paymentLinkID":"7777a23s-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","qrCodeImage":"https://api.openpix.dev/openpix/pixQrCode/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/qrcode-static\",\n  \"headers\": {\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url https://api.openpix.com.br//api/openpix/v1/qrcode-static \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/qrcode-static\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"//api/openpix/v1/qrcode-static\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/qrcode-static\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/qrcode-static\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/qrcode-static\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"}]},"post":{"tags":["pixQrCode"],"summary":"Create a new Pix QrCode Static","description":"Endpoint to create a new Pix QrCode Static","requestBody":{"description":"Data to create a new Pix QrCode Static","required":true,"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/PixQrCodePayload"},"example":{"correlationID":"9134e286-6f71-427a-bf00-241681624586","value":100,"comment":"good","identifier":"zr7833b4060c488a9b0f89811"}}}},"responses":{"200":{"description":"PixQrCode ID and also the generated Dynamic BR Code to be rendered as a QRCode","content":{"application/json":{"schema":{"type":"object","properties":{"pixQrCode":{"$ref":"#/components/schemas/PixQrCode"},"correlationID":{"type":"string"},"brCode":{"type":"string"}},"example":{"pixQrCode":{"value":100,"comment":"good","correlationID":"9134e286-6f71-427a-bf00-241681624586","identifier":"zr7833b4060c488a9b0f89811","paymentLinkID":"7777a23s-6f71-427a-bf00-241681624586","paymentLinkUrl":"https://openpix.com.br/pay/9134e286-6f71-427a-bf00-241681624586","qrCodeImage":"https://api.openpix.dev/openpix/pixQrCode/brcode/image/9134e286-6f71-427a-bf00-241681624586.png","createdAt":"2021-03-02T17:28:51.882Z","updatedAt":"2021-03-02T17:28:51.882Z","brCode":"000201010212261060014br.gov.bcb.pix2584http://localhost:5001/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao Paulo62360532867ba5173c734202ac659721306b38c963044BCA"}}}}}},"400":{"description":"An error message","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}},"x-codeSamples":[{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.openpix.com.br\",\n  \"port\": null,\n  \"path\": \"//api/openpix/v1/qrcode-static\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  name: 'string',\n  correlationID: 'string',\n  value: 0,\n  comment: 'string',\n  identifier: 'string'\n}));\nreq.end();"},{"lang":"Shell + Curl","source":"curl --request POST \\\n  --url https://api.openpix.com.br//api/openpix/v1/qrcode-static \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"correlationID\":\"string\",\"value\":0,\"comment\":\"string\",\"identifier\":\"string\"}'"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br//api/openpix/v1/qrcode-static\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"//api/openpix/v1/qrcode-static\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br//api/openpix/v1/qrcode-static\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"name\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br//api/openpix/v1/qrcode-static\")\n  .post(body)\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.openpix.com.br//api/openpix/v1/qrcode-static\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"name\\\":\\\"string\\\",\\\"correlationID\\\":\\\"string\\\",\\\"value\\\":0,\\\"comment\\\":\\\"string\\\",\\\"identifier\\\":\\\"string\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"}]}},"/api/openpix/v1/pay/confirm":{"post":{"tags":["payment (Beta - waiting list)"],"summary":"Confirm a Payment","description":"Endpoint to confirm a payment","requestBody":{"description":"Data to confirm a pending payment","required":true,"content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/PayConfirmPayload"},"example":{"correlationID":"pay1"}}}},"responses":{"200":{"description":"Payment destination account information","content":{"application/json":{"schema":{"type":"object","properties":{"payment":{"$ref":"#/components/schemas/PayConf
[...]
