{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenPix",
    "description": "A OpenPix é uma Plataforma de Gestão de Pagamentos. \n\n Para utilizar nossa API de Produção, utilize exclusivamente o seguinte endpoint: \n\n 👉 __[https://api.openpix.com.br/](https://api.openpix.com.br/)__ \n\n Além disso, oferecemos também um ambiente de sandbox (ambiente de testes), ideal para desenvolvimento e validação de integrações sem impactar dados reais. \n\n 👉 __[https://api.woovi-sandbox.com/](https://api.woovi-sandbox.com/)__ \n\n Veja como configurar seu acesso a nossa API [aqui](https://developers.openpix.com.br/docs/apis/api-getting-started).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.openpix.com.br",
      "description": "API de Produção"
    },
    {
      "url": "https://api.woovi-sandbox.com",
      "description": "API de Testes"
    }
  ],
  "security": [
    {
      "AppID": []
    }
  ],
  "paths": {
    "/api/v1/account/{accountId}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get an Account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the Account",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6290ccfd42831958a405debc"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account retrieve using the given Account ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "$ref": "#/components/schemas/CompanyBankAccount"
                    }
                  }
                },
                "example": {
                  "account": {
                    "accountId": "6290ccfd42831958a405debc",
                    "isDefault": true,
                    "balance": {
                      "total": 129430,
                      "blocked": 0,
                      "available": 129430
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account/6290ccfd42831958a405debc',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/v1/account/6290ccfd42831958a405debc\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/account/": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get a list of Accounts",
        "responses": {
          "200": {
            "description": "A list of Accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyBankAccount"
                      }
                    }
                  }
                },
                "example": {
                  "accounts": [
                    {
                      "accountId": "6290ccfd42831958a405debc",
                      "isDefault": true,
                      "balance": {
                        "total": 129430,
                        "blocked": 0,
                        "available": 129430
                      }
                    },
                    {
                      "accountId": "6286b467a7910113577e00ce",
                      "isDefault": false,
                      "balance": {
                        "total": 130,
                        "blocked": 100,
                        "available": 30
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account/',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.openpix.com.br/api/v1/account/ \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/v1/account/\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account/\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account/\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/account": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Create a new Account",
        "description": "Creates a new bank account for the company. Requires the bank account feature to be enabled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyBankAccount": {
                    "type": "object",
                    "$ref": "#/components/schemas/PayloadAccount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created Account information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "$ref": "#/components/schemas/CompanyBankAccount"
                    }
                  }
                },
                "example": {
                  "account": {
                    "accountId": "6290ccfd42831958a405debc",
                    "isDefault": true,
                    "balance": {
                      "total": 129430,
                      "blocked": 0,
                      "available": 129430
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Bank account feature is not enabled"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Wrong API type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Wrong API type"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'POST',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE',\n    'content-type': 'application/json'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({companyBankAccount: {accountId: 'string', isDefault: true}}));\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.openpix.com.br/api/v1/account \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"companyBankAccount\":{\"accountId\":\"string\",\"isDefault\":true}}'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode([\n    'companyBankAccount' => [\n        'accountId' => 'string',\n        'isDefault' => null\n    ]\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"companyBankAccount\\\":{\\\"accountId\\\":\\\"string\\\",\\\"isDefault\\\":true}}\"\n\nheaders = {\n    'Authorization': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n}\n\nconn.request(\"POST\", \"/api/v1/account\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account\"\n\n\tpayload := strings.NewReader(\"{\\\"companyBankAccount\\\":{\\\"accountId\\\":\\\"string\\\",\\\"isDefault\\\":true}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"companyBankAccount\\\":{\\\"accountId\\\":\\\"string\\\",\\\"isDefault\\\":true}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account\")\n  .post(body)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"companyBankAccount\\\":{\\\"accountId\\\":\\\"string\\\",\\\"isDefault\\\":true}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/account-register/{id}": {
      "delete": {
        "tags": [
          "account register"
        ],
        "summary": "Delete an account registration",
        "description": "Deletes an account registration that is in PENDING status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tax ID of the account register to delete",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account register successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Account register successfully deleted"
                    },
                    "accountRegisterId": {
                      "type": "string",
                      "example": "12345678901234"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "MissingAuthorization": {
                    "value": {
                      "error": "Invalid Authorization header"
                    }
                  },
                  "CompanyNotFound": {
                    "value": {
                      "error": "Company not found"
                    }
                  },
                  "AccountRegisterIDRequired": {
                    "value": {
                      "error": "Account register ID is required"
                    }
                  },
                  "InvalidStatus": {
                    "value": {
                      "error": "Only account registers in PENDING status can be deleted"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account register not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "AccountRegisterNotFound": {
                    "value": {
                      "error": "Account register not found"
                    }
                  },
                  "DeleteFailed": {
                    "value": {
                      "error": "Failed to delete account register"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": []
      },
      "patch": {
        "tags": [
          "account register"
        ],
        "summary": "Update an existing account registration",
        "description": "Updates documents and representatives for an existing account registration in PENDING status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tax ID of the account register to update",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents": {
                    "type": "array",
                    "description": "Company documents to update",
                    "items": {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Document URL",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "SOCIAL_CONTRACT",
                            "ATA",
                            "BYLAWS"
                          ]
                        }
                      }
                    }
                  },
                  "representatives": {
                    "type": "array",
                    "description": "Company representatives to update",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "birthDate",
                        "email",
                        "taxID",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Representative name",
                          "minLength": 1
                        },
                        "documents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "url",
                              "type"
                            ],
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Document URL",
                                "minLength": 1
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "IDENTITY_FRONT",
                                  "IDENTITY_BACK",
                                  "CNH_FRONT",
                                  "CNH_BACK",
                                  "PICTURE"
                                ]
                              }
                            }
                          }
                        },
                        "birthDate": {
                          "type": "string",
                          "description": "Representative birth date",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "description": "Representative email",
                          "format": "email"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "ADMIN"
                          ]
                        },
                        "taxID": {
                          "type": "string",
                          "description": "Representative tax ID",
                          "minLength": 1
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "zipcode",
                            "street",
                            "number",
                            "neighborhood",
                            "city",
                            "state",
                            "taxID"
                          ],
                          "properties": {
                            "zipcode": {
                              "type": "string",
                              "description": "Address zip code",
                              "minLength": 1
                            },
                            "street": {
                              "type": "string",
                              "description": "Street name",
                              "minLength": 1
                            },
                            "number": {
                              "type": "string",
                              "description": "Street number",
                              "minLength": 1
                            },
                            "neighborhood": {
                              "type": "string",
                              "description": "Neighborhood",
                              "minLength": 1
                            },
                            "city": {
                              "type": "string",
                              "description": "City",
                              "minLength": 1
                            },
                            "state": {
                              "type": "string",
                              "description": "State",
                              "minLength": 1
                            },
                            "complement": {
                              "type": "string",
                              "description": "Address complement"
                            },
                            "taxID": {
                              "type": "string",
                              "description": "Tax ID",
                              "minLength": 1
                            }
                          }
                        }
                      }
                    }
                  },
                  "businessDescription": {
                    "type": "string",
                    "description": "Business segment/industry"
                  },
                  "businessProduct": {
                    "type": "string",
                    "description": "Services the company provides"
                  },
                  "businessLifetime": {
                    "type": "string",
                    "description": "How long the company has been operating in the market"
                  },
                  "businessGoal": {
                    "type": "string",
                    "description": "Objective when using Woovi"
                  }
                }
              },
              "examples": {
                "ValidAccountRegisterPatch": {
                  "value": {
                    "documents": [
                      {
                        "url": "https://example.com/social-contract.pdf",
                        "type": "SOCIAL_CONTRACT"
                      }
                    ],
                    "businessDescription": "Updated Technology and Financial Services",
                    "businessProduct": "Updated digital payment solutions and banking services",
                    "businessLifetime": "5 years",
                    "businessGoal": "Updated goal to expand digital payment capabilities",
                    "representatives": [
                      {
                        "name": "Jane Smith",
                        "birthDate": "1985-05-15",
                        "email": "jane@example.com",
                        "taxID": "98765432100",
                        "type": "ADMIN",
                        "documents": [
                          {
                            "url": "https://example.com/identity-front.jpg",
                            "type": "IDENTITY_FRONT"
                          },
                          {
                            "url": "https://example.com/identity-back.jpg",
                            "type": "IDENTITY_BACK"
                          }
                        ],
                        "address": {
                          "zipcode": "87654321",
                          "street": "Updated Street",
                          "number": "456",
                          "neighborhood": "Updated Neighborhood",
                          "city": "Updated City",
                          "state": "SP",
                          "taxID": "98765432100"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account register successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "officialName": {
                      "type": "string",
                      "example": "Company Official Name"
                    },
                    "tradeName": {
                      "type": "string",
                      "example": "Company Trade Name"
                    },
                    "taxID": {
                      "type": "object",
                      "properties": {
                        "taxID": {
                          "type": "string",
                          "example": "12345678901234"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "requestedDocuments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "missingDocumentsDescription": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "path": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "MissingAuthorization": {
                    "value": {
                      "error": "Invalid Authorization header"
                    }
                  },
                  "AccountRegisterIDRequired": {
                    "value": {
                      "error": "Account register ID is required"
                    }
                  },
                  "CannotUpdateStatus": {
                    "value": {
                      "error": "Cannot update account register in current status"
                    }
                  },
                  "ProtectedFields": {
                    "value": {
                      "error": "Cannot update fields: officialName, tradeName, taxID, billingAddress"
                    }
                  },
                  "ValidationError": {
                    "value": {
                      "error": [
                        {
                          "code": "invalid_type",
                          "expected": "string",
                          "received": "undefined",
                          "message": "Representative name is required",
                          "path": [
                            "representatives",
                            0,
                            "name"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account register not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "CompanyNotFound": {
                    "value": {
                      "error": "Company not found"
                    }
                  },
                  "AccountRegisterNotFound": {
                    "value": {
                      "error": "Account register not found"
                    }
                  },
                  "UpdateFailed": {
                    "value": {
                      "error": "Failed to update account register"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": []
      }
    },
    "/api/v1/account-register": {
      "get": {
        "tags": [
          "account register"
        ],
        "summary": "Get account register by Tax ID",
        "description": "Retrieves an existing account registration by Tax ID",
        "parameters": [
          {
            "name": "taxID",
            "in": "query",
            "required": true,
            "description": "Tax ID of the company to retrieve",
            "schema": {
              "type": "string",
              "example": "12345678901234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account register found and returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "officialName": {
                      "type": "string",
                      "example": "Company Official Name"
                    },
                    "tradeName": {
                      "type": "string",
                      "example": "Company Trade Name"
                    },
                    "type": {
                      "type": "string",
                      "example": "BAAS"
                    },
                    "taxID": {
                      "type": "object",
                      "properties": {
                        "taxID": {
                          "type": "string",
                          "example": "12345678901234"
                        },
                        "type": {
                          "type": "string",
                          "example": "BR_CNPJ"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error or missing authorization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "MissingAuthorization": {
                    "value": {
                      "error": "Invalid Authorization header"
                    }
                  },
                  "CompanyNotFound": {
                    "value": {
                      "error": "Company not found"
                    }
                  },
                  "ValidationError": {
                    "value": {
                      "error": [
                        {
                          "code": "too_small",
                          "minimum": 1,
                          "type": "string",
                          "inclusive": true,
                          "exact": false,
                          "message": "Tax ID is required",
                          "path": [
                            "taxID"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account register not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Account register not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account-register?taxID=12345678901234',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234' \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/v1/account-register?taxID=12345678901234\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      },
      "post": {
        "tags": [
          "account register"
        ],
        "summary": "Register a new account",
        "description": "Creates a new account registration with the provided details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "officialName": {
                    "type": "string",
                    "description": "Official name of the company",
                    "minLength": 1
                  },
                  "tradeName": {
                    "type": "string",
                    "description": "Trade name of the company",
                    "minLength": 1
                  },
                  "taxID": {
                    "type": "string",
                    "description": "Tax ID of the company",
                    "minLength": 1
                  },
                  "documents": {
                    "type": "array",
                    "description": "Company documents",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Document URL",
                          "minLength": 1
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "SOCIAL_CONTRACT",
                            "ATA",
                            "BYLAWS"
                          ]
                        }
                      }
                    }
                  },
                  "representatives": {
                    "type": "array",
                    "description": "Company representatives (sócio)",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "birthDate",
                        "email",
                        "taxID",
                        "address"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Representative name",
                          "minLength": 1
                        },
                        "documents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "url",
                              "type"
                            ],
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Document URL",
                                "minLength": 1
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "IDENTITY_FRONT",
                                  "IDENTITY_BACK",
                                  "CNH_FRONT",
                                  "CNH_BACK",
                                  "PICTURE"
                                ]
                              }
                            }
                          }
                        },
                        "birthDate": {
                          "type": "string",
                          "description": "Representative birth date",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "description": "Representative email",
                          "format": "email"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "ADMIN"
                          ]
                        },
                        "taxID": {
                          "type": "string",
                          "description": "Representative tax ID",
                          "minLength": 1
                        },
                        "address": {
                          "type": "object",
                          "required": [
                            "zipcode",
                            "street",
                            "number",
                            "neighborhood",
                            "city",
                            "state",
                            "taxID"
                          ],
                          "properties": {
                            "zipcode": {
                              "type": "string",
                              "description": "Address zip code",
                              "minLength": 1
                            },
                            "street": {
                              "type": "string",
                              "description": "Street name",
                              "minLength": 1
                            },
                            "number": {
                              "type": "string",
                              "description": "Street number",
                              "minLength": 1
                            },
                            "neighborhood": {
                              "type": "string",
                              "description": "Neighborhood",
                              "minLength": 1
                            },
                            "city": {
                              "type": "string",
                              "description": "City",
                              "minLength": 1
                            },
                            "state": {
                              "type": "string",
                              "description": "State",
                              "minLength": 1
                            },
                            "complement": {
                              "type": "string",
                              "description": "Address complement"
                            },
                            "taxID": {
                              "type": "string",
                              "description": "Tax ID",
                              "minLength": 1
                            }
                          }
                        }
                      }
                    }
                  },
                  "billingAddress": {
                    "type": "object",
                    "required": [
                      "zipcode",
                      "street",
                      "number",
                      "neighborhood",
                      "city"
                    ],
                    "properties": {
                      "zipcode": {
                        "type": "string",
                        "description": "Billing address zip code",
                        "minLength": 1
                      },
                      "street": {
                        "type": "string",
                        "description": "Street name",
                        "minLength": 1
                      },
                      "number": {
                        "type": "string",
                        "description": "Street number",
                        "minLength": 1
                      },
                      "neighborhood": {
                        "type": "string",
                        "description": "Neighborhood",
                        "minLength": 1
                      },
                      "city": {
                        "type": "string",
                        "description": "City",
                        "minLength": 1
                      }
                    }
                  },
                  "businessDescription": {
                    "type": "string",
                    "description": "Business segment/industry"
                  },
                  "businessProduct": {
                    "type": "string",
                    "description": "Services the company provides"
                  },
                  "businessLifetime": {
                    "type": "string",
                    "description": "How long the company has been operating in the market"
                  },
                  "businessGoal": {
                    "type": "string",
                    "description": "Objective when using Woovi"
                  }
                },
                "required": [
                  "officialName",
                  "tradeName",
                  "taxID",
                  "billingAddress"
                ]
              },
              "examples": {
                "ValidAccountRegister": {
                  "value": {
                    "officialName": "Company Official Name",
                    "tradeName": "Company Trade Name",
                    "taxID": "12345678901234",
                    "billingAddress": {
                      "zipcode": "12345678",
                      "street": "Test Street",
                      "number": "123",
                      "neighborhood": "Test Neighborhood",
                      "city": "Test City"
                    },
                    "businessDescription": "Technology and Financial Services",
                    "businessProduct": "Digital payment solutions and banking services",
                    "businessLifetime": "3 years",
                    "businessGoal": "To expand digital payment capabilities and improve customer experience",
                    "representatives": [
                      {
                        "name": "John Doe",
                        "birthDate": "1990-01-01",
                        "email": "john@example.com",
                        "taxID": "12345678901",
                        "type": "ADMIN",
                        "address": {
                          "zipcode": "12345678",
                          "street": "Test Street",
                          "number": "123",
                          "neighborhood": "Test Neighborhood",
                          "city": "Test City",
                          "state": "ST",
                          "taxID": {
                            "taxID": "12345678901",
                            "type": "BR_CPF"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "officialName": {
                      "type": "string",
                      "example": "Company Official Name"
                    },
                    "tradeName": {
                      "type": "string",
                      "example": "Company Trade Name"
                    },
                    "taxID": {
                      "type": "object",
                      "properties": {
                        "taxID": {
                          "type": "string",
                          "example": "12345678901234"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "requestedDocuments": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "missingDocumentsDescription": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "path": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "MissingAuthorization": {
                    "value": {
                      "error": "Invalid Authorization header"
                    }
                  },
                  "CompanyNotFound": {
                    "value": {
                      "error": "Company not found"
                    }
                  },
                  "ValidationError": {
                    "value": {
                      "error": [
                        {
                          "code": "too_small",
                          "minimum": 1,
                          "type": "string",
                          "inclusive": true,
                          "message": "Official name is required",
                          "path": [
                            "officialName"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden action",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "This feature is not enabled for your company. Contact us to active."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'POST',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account-register',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE',\n    'content-type': 'application/json'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  officialName: 'string',\n  tradeName: 'string',\n  taxID: 'string',\n  documents: [{url: 'string', type: 'SOCIAL_CONTRACT'}],\n  representatives: [\n    {\n      name: 'string',\n      documents: [{url: 'string', type: 'IDENTITY_FRONT'}],\n      birthDate: 'string',\n      email: 'user@example.com',\n      type: 'ADMIN',\n      taxID: 'string',\n      address: {\n        zipcode: 'string',\n        street: 'string',\n        number: 'string',\n        neighborhood: 'string',\n        city: 'string',\n        state: 'string',\n        complement: 'string',\n        taxID: 'string'\n      }\n    }\n  ],\n  billingAddress: {\n    zipcode: 'string',\n    street: 'string',\n    number: 'string',\n    neighborhood: 'string',\n    city: 'string'\n  },\n  businessDescription: 'string',\n  businessProduct: 'string',\n  businessLifetime: 'string',\n  businessGoal: 'string'\n}));\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.openpix.com.br/api/v1/account-register \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"officialName\":\"string\",\"tradeName\":\"string\",\"taxID\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"SOCIAL_CONTRACT\"}],\"representatives\":[{\"name\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"IDENTITY_FRONT\"}],\"birthDate\":\"string\",\"email\":\"user@example.com\",\"type\":\"ADMIN\",\"taxID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"taxID\":\"string\"}}],\"billingAddress\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\"},\"businessDescription\":\"string\",\"businessProduct\":\"string\",\"businessLifetime\":\"string\",\"businessGoal\":\"string\"}'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account-register\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode([\n    'officialName' => 'string',\n    'tradeName' => 'string',\n    'taxID' => 'string',\n    'documents' => [\n        [\n                'url' => 'string',\n                'type' => 'SOCIAL_CONTRACT'\n        ]\n    ],\n    'representatives' => [\n        [\n                'name' => 'string',\n                'documents' => [\n                                [\n                                                                'url' => 'string',\n                                                                'type' => 'IDENTITY_FRONT'\n                                ]\n                ],\n                'birthDate' => 'string',\n                'email' => 'user@example.com',\n                'type' => 'ADMIN',\n                'taxID' => 'string',\n                'address' => [\n                                'zipcode' => 'string',\n                                'street' => 'string',\n                                'number' => 'string',\n                                'neighborhood' => 'string',\n                                'city' => 'string',\n                                'state' => 'string',\n                                'complement' => 'string',\n                                'taxID' => 'string'\n                ]\n        ]\n    ],\n    'billingAddress' => [\n        'zipcode' => 'string',\n        'street' => 'string',\n        'number' => 'string',\n        'neighborhood' => 'string',\n        'city' => 'string'\n    ],\n    'businessDescription' => 'string',\n    'businessProduct' => 'string',\n    'businessLifetime' => 'string',\n    'businessGoal' => 'string'\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"officialName\\\":\\\"string\\\",\\\"tradeName\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"SOCIAL_CONTRACT\\\"}],\\\"representatives\\\":[{\\\"name\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"IDENTITY_FRONT\\\"}],\\\"birthDate\\\":\\\"string\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"type\\\":\\\"ADMIN\\\",\\\"taxID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"}}],\\\"billingAddress\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\"},\\\"businessDescription\\\":\\\"string\\\",\\\"businessProduct\\\":\\\"string\\\",\\\"businessLifetime\\\":\\\"string\\\",\\\"businessGoal\\\":\\\"string\\\"}\"\n\nheaders = {\n    'Authorization': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n}\n\nconn.request(\"POST\", \"/api/v1/account-register\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account-register\"\n\n\tpayload := strings.NewReader(\"{\\\"officialName\\\":\\\"string\\\",\\\"tradeName\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"SOCIAL_CONTRACT\\\"}],\\\"representatives\\\":[{\\\"name\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"IDENTITY_FRONT\\\"}],\\\"birthDate\\\":\\\"string\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"type\\\":\\\"ADMIN\\\",\\\"taxID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"}}],\\\"billingAddress\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\"},\\\"businessDescription\\\":\\\"string\\\",\\\"businessProduct\\\":\\\"string\\\",\\\"businessLifetime\\\":\\\"string\\\",\\\"businessGoal\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"officialName\\\":\\\"string\\\",\\\"tradeName\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"SOCIAL_CONTRACT\\\"}],\\\"representatives\\\":[{\\\"name\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"IDENTITY_FRONT\\\"}],\\\"birthDate\\\":\\\"string\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"type\\\":\\\"ADMIN\\\",\\\"taxID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"}}],\\\"billingAddress\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\"},\\\"businessDescription\\\":\\\"string\\\",\\\"businessProduct\\\":\\\"string\\\",\\\"businessLifetime\\\":\\\"string\\\",\\\"businessGoal\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account-register\")\n  .post(body)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account-register\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"officialName\\\":\\\"string\\\",\\\"tradeName\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"SOCIAL_CONTRACT\\\"}],\\\"representatives\\\":[{\\\"name\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"IDENTITY_FRONT\\\"}],\\\"birthDate\\\":\\\"string\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"type\\\":\\\"ADMIN\\\",\\\"taxID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"}}],\\\"billingAddress\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\"},\\\"businessDescription\\\":\\\"string\\\",\\\"businessProduct\\\":\\\"string\\\",\\\"businessLifetime\\\":\\\"string\\\",\\\"businessGoal\\\":\\\"string\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/account/{accountId}/withdraw": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Withdraw from an Account",
        "description": "An additional fee may be charged depending on the minimum free withdrawal amount. See more about at https://developers.openpix.com.br/docs/FAQ/faq-virtual-account/#onde-posso-consultar-as-taxas-da-minha-conta-virtual",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the Account",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "6290ccfd42831958a405debc"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number",
                    "description": "Value in cents"
                  }
                }
              },
              "example": {
                "value": 7000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdraw and Acccount information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "withdraw": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "$ref": "#/components/schemas/CompanyBankAccount"
                        },
                        "transaction": {
                          "type": "object",
                          "$ref": "#/components/schemas/WithdrawTransaction"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "withdraw": {
                    "account": {
                      "accountId": "6290ccfd42831958a405debc",
                      "isDefault": true,
                      "balance": {
                        "total": 122430,
                        "blocked": 0,
                        "available": 122430
                      }
                    },
                    "transaction": {
                      "endToEndId": "E23114447202205191817cx6VMrbwtw6",
                      "transaction": 7000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'POST',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/account/6290ccfd42831958a405debc/withdraw',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE',\n    'content-type': 'application/json'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({value: 0}));\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"value\":0}'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode([\n    'value' => 0\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"value\\\":0}\"\n\nheaders = {\n    'Authorization': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n}\n\nconn.request(\"POST\", \"/api/v1/account/6290ccfd42831958a405debc/withdraw\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw\"\n\n\tpayload := strings.NewReader(\"{\\\"value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"value\\\":0}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw\")\n  .post(body)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"value\\\":0}\"\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/application": {
      "delete": {
        "tags": [
          "application"
        ],
        "summary": "Delete an application",
        "description": "Deactivates an application by setting isActive to false and adding a removedAt timestamp",
        "responses": {
          "200": {
            "description": "Application successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates the operation was successful"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Validation error or other client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error": "Validation error",
                      "details": [
                        {
                          "field": "clientId",
                          "message": "Application client ID is required"
                        }
                      ]
                    }
                  },
                  "CannotDeleteMaster": {
                    "value": {
                      "error": "You cannot delete a master application"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Application not found"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'DELETE',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/application',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://api.openpix.com.br/api/v1/application \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/application\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"DELETE\", \"/api/v1/application\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/application\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/application\")\n  .delete(null)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/application\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      },
      "post": {
        "tags": [
          "application"
        ],
        "summary": "Create a new application",
        "description": "Creates a new application for a company",
        "requestBody": {
          "description": "Data to create a new application",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPayload"
              },
              "examples": {
                "Application": {
                  "value": {
                    "accountId": "507f1f77bcf86cd799439011",
                    "application": {
                      "name": "Test API",
                      "type": "API"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/Application"
                    }
                  }
                },
                "example": {
                  "application": {
                    "name": "Test API",
                    "isActive": true,
                    "type": "API",
                    "clientId": "client_123abc",
                    "clientSecret": "secret_456def",
                    "appID": "app_789ghi",
                    "companyBankAccount": "507f1f77bcf86cd799439011"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or other client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "error": "Validation error",
                      "details": [
                        {
                          "field": "accountId",
                          "message": "Company bank account ID is required"
                        }
                      ]
                    }
                  },
                  "NoMasterApplication": {
                    "value": {
                      "error": "Only MASTER application can create other application types"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Missing required feature",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "You need feature BAAS to access this endpoint"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'POST',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/application',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE',\n    'content-type': 'application/json'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({accountId: 'string', application: {name: 'string', type: 'API'}}));\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.openpix.com.br/api/v1/application \\\n  --header 'Authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"accountId\":\"string\",\"application\":{\"name\":\"string\",\"type\":\"API\"}}'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/application\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode([\n    'accountId' => 'string',\n    'application' => [\n        'name' => 'string',\n        'type' => 'API'\n    ]\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\npayload = \"{\\\"accountId\\\":\\\"string\\\",\\\"application\\\":{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"API\\\"}}\"\n\nheaders = {\n    'Authorization': \"REPLACE_KEY_VALUE\",\n    'content-type': \"application/json\"\n}\n\nconn.request(\"POST\", \"/api/v1/application\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/application\"\n\n\tpayload := strings.NewReader(\"{\\\"accountId\\\":\\\"string\\\",\\\"application\\\":{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"API\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"accountId\\\":\\\"string\\\",\\\"application\\\":{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"API\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/application\")\n  .post(body)\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/application\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"accountId\\\":\\\"string\\\",\\\"application\\\":{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"API\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/cashback-fidelity/balance/{taxID}": {
      "get": {
        "tags": [
          "cashback-fidelity"
        ],
        "summary": "Get the exclusive cashback amount an user still has to receive by taxID.",
        "parameters": [
          {
            "name": "taxID",
            "in": "path",
            "description": "The raw tax ID from the customer you want to get the balance.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "taxID": {
                "value": "60151449000182"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amount the user still has to receive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "An error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Native",
            "source": "const http = require('https');\n\nconst options = {\n  method: 'GET',\n  hostname: 'api.openpix.com.br',\n  port: null,\n  path: '/api/v1/cashback-fidelity/balance/60151449000182',\n  headers: {\n    Authorization: 'REPLACE_KEY_VALUE'\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on('data', function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on('end', function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182 \\\n  --header 'Authorization: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: REPLACE_KEY_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.openpix.com.br\")\n\nheaders = { 'Authorization': \"REPLACE_KEY_VALUE\" }\n\nconn.request(\"GET\", \"/api/v1/cashback-fidelity/balance/60151449000182\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182\")\n  .get()\n  .addHeader(\"Authorization\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/api/v1/cashback-fidelity": {
      "post": {
        "tags": [
          "cashback-fidelity"
        ],
        "summary": "Get or create cashback for a customer.",
        "description": "Create a new cashback exclusive for the customer with a given taxID. If the customer already has a pending excluisve cashback, this endpoint will return it instead.",
        "requestBody": {
          "description": "Customer's taxID and the cash",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taxID": {
                    "type": "string",
[...]
