openapi: 3.0.3
info:
  title: OpenPix
  description: |-
    A OpenPix é uma Plataforma de Gestão de Pagamentos. 

     Para utilizar nossa API de Produção, utilize exclusivamente o seguinte endpoint: 

     👉 __[https://api.openpix.com.br/](https://api.openpix.com.br/)__ 

     Além disso, oferecemos também um ambiente de sandbox (ambiente de testes), ideal para desenvolvimento e validação de integrações sem impactar dados reais. 

     👉 __[https://api.woovi-sandbox.com/](https://api.woovi-sandbox.com/)__ 

     Veja como configurar seu acesso a nossa API [aqui](https://developers.openpix.com.br/docs/apis/api-getting-started).
  version: 1.0.0
servers:
  - url: https://api.openpix.com.br
    description: API de Produção
  - url: https://api.woovi-sandbox.com
    description: API de Testes
security:
  - AppID: []
paths:
  /api/v1/account/{accountId}:
    get:
      tags:
        - account
      summary: Get an Account
      parameters:
        - name: accountId
          in: path
          description: ID of the Account
          required: true
          schema:
            type: string
          example: 6290ccfd42831958a405debc
      responses:
        '200':
          description: The Account retrieve using the given Account ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    $ref: '#/components/schemas/CompanyBankAccount'
              example:
                account:
                  accountId: 6290ccfd42831958a405debc
                  isDefault: true
                  balance:
                    total: 129430
                    blocked: 0
                    available: 129430
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'GET',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account/6290ccfd42831958a405debc',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET", "/api/v1/account/6290ccfd42831958a405debc",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
  /api/v1/account/:
    get:
      tags:
        - account
      summary: Get a list of Accounts
      responses:
        '200':
          description: A list of Accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyBankAccount'
              example:
                accounts:
                  - accountId: 6290ccfd42831958a405debc
                    isDefault: true
                    balance:
                      total: 129430
                      blocked: 0
                      available: 129430
                  - accountId: 6286b467a7910113577e00ce
                    isDefault: false
                    balance:
                      total: 130
                      blocked: 100
                      available: 30
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'GET',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account/',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.openpix.com.br/api/v1/account/ \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account/",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.openpix.com.br")

            headers = { 'Authorization': "REPLACE_KEY_VALUE" }

            conn.request("GET", "/api/v1/account/", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account/")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.openpix.com.br/api/v1/account/")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
  /api/v1/account:
    post:
      tags:
        - account
      summary: Create a new Account
      description: >-
        Creates a new bank account for the company. Requires the bank account
        feature to be enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companyBankAccount:
                  type: object
                  $ref: '#/components/schemas/CompanyBankAccount'
      responses:
        '200':
          description: The created Account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    $ref: '#/components/schemas/CompanyBankAccount'
              example:
                account:
                  accountId: 6290ccfd42831958a405debc
                  isDefault: true
                  balance:
                    total: 129430
                    blocked: 0
                    available: 129430
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Bank account feature is not enabled
        '403':
          description: Forbidden - Wrong API type
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Wrong API type
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'POST',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              companyBankAccount: {
                accountId: 'string',
                isDefault: true,
                balance: {total: 0, blocked: 0, available: 0}
              }
            }));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.openpix.com.br/api/v1/account \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"companyBankAccount":{"accountId":"string","isDefault":true,"balance":{"total":0,"blocked":0,"available":0}}}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => json_encode([
                'companyBankAccount' => [
                    'accountId' => 'string',
                    'isDefault' => null,
                    'balance' => [
                            'total' => 0,
                            'blocked' => 0,
                            'available' => 0
                    ]
                ]
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            payload =
            "{\"companyBankAccount\":{\"accountId\":\"string\",\"isDefault\":true,\"balance\":{\"total\":0,\"blocked\":0,\"available\":0}}}"


            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }


            conn.request("POST", "/api/v1/account", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account\"\n\n\tpayload := strings.NewReader(\"{\\\"companyBankAccount\\\":{\\\"accountId\\\":\\\"string\\\",\\\"isDefault\\\":true,\\\"balance\\\":{\\\"total\\\":0,\\\"blocked\\\":0,\\\"available\\\":0}}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"companyBankAccount\":{\"accountId\":\"string\",\"isDefault\":true,\"balance\":{\"total\":0,\"blocked\":0,\"available\":0}}}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account")
              .post(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url = URI("https://api.openpix.com.br/api/v1/account")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Post.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request["content-type"] = 'application/json'

            request.body =
            "{\"companyBankAccount\":{\"accountId\":\"string\",\"isDefault\":true,\"balance\":{\"total\":0,\"blocked\":0,\"available\":0}}}"


            response = http.request(request)

            puts response.read_body
  /api/v1/account-register:
    get:
      tags:
        - account register
      summary: Get account register by Tax ID
      description: Retrieves an existing account registration by Tax ID
      parameters:
        - name: taxID
          in: query
          required: true
          description: Tax ID of the company to retrieve
          schema:
            type: string
            example: '12345678901234'
      responses:
        '200':
          description: Account register found and returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  officialName:
                    type: string
                    example: Company Official Name
                  tradeName:
                    type: string
                    example: Company Trade Name
                  type:
                    type: string
                    example: BAAS
                  taxID:
                    type: object
                    properties:
                      taxID:
                        type: string
                        example: '12345678901234'
                      type:
                        type: string
                        example: BR_CNPJ
                  status:
                    type: string
                    example: PENDING
        '400':
          description: Bad request - validation error or missing authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    oneOf:
                      - type: string
                      - type: array
                        items:
                          type: object
              examples:
                MissingAuthorization:
                  value:
                    error: Invalid Authorization header
                CompanyNotFound:
                  value:
                    error: Company not found
                ValidationError:
                  value:
                    error:
                      - code: too_small
                        minimum: 1
                        type: string
                        inclusive: true
                        exact: false
                        message: Tax ID is required
                        path:
                          - taxID
        '404':
          description: Account register not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Account register not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Internal server error
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'GET',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account-register?taxID=12345678901234',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url 'https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234' \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET", "/api/v1/account-register?taxID=12345678901234",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/account-register?taxID=12345678901234")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
    post:
      tags:
        - account register
      summary: Register a new account
      description: Creates a new account registration with the provided details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                officialName:
                  type: string
                  description: Official name of the company
                  minLength: 1
                tradeName:
                  type: string
                  description: Trade name of the company
                  minLength: 1
                taxID:
                  type: string
                  description: Tax ID of the company
                  minLength: 1
                documents:
                  type: array
                  description: Company documents
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        description: Document URL
                        minLength: 1
                      type:
                        type: string
                        enum:
                          - SOCIAL_CONTRACT
                          - ATA
                          - BYLAWS
                representatives:
                  type: array
                  description: Company representatives (sócio)
                  items:
                    type: object
                    required:
                      - name
                      - birthDate
                      - email
                      - taxID
                      - address
                    properties:
                      name:
                        type: string
                        description: Representative name
                        minLength: 1
                      documents:
                        type: array
                        items:
                          type: object
                          required:
                            - url
                            - type
                          properties:
                            url:
                              type: string
                              description: Document URL
                              minLength: 1
                            type:
                              type: string
                              enum:
                                - IDENTITY_FRONT
                                - IDENTITY_BACK
                                - CNH_FRONT
                                - CNH_BACK
                                - PICTURE
                      birthDate:
                        type: string
                        description: Representative birth date
                        minLength: 1
                      email:
                        type: string
                        description: Representative email
                        format: email
                      type:
                        type: string
                        enum:
                          - ADMIN
                      taxID:
                        type: string
                        description: Representative tax ID
                        minLength: 1
                      address:
                        type: object
                        required:
                          - zipcode
                          - street
                          - number
                          - neighborhood
                          - city
                          - state
                          - taxID
                        properties:
                          zipcode:
                            type: string
                            description: Address zip code
                            minLength: 1
                          street:
                            type: string
                            description: Street name
                            minLength: 1
                          number:
                            type: string
                            description: Street number
                            minLength: 1
                          neighborhood:
                            type: string
                            description: Neighborhood
                            minLength: 1
                          city:
                            type: string
                            description: City
                            minLength: 1
                          state:
                            type: string
                            description: State
                            minLength: 1
                          complement:
                            type: string
                            description: Address complement
                          taxID:
                            type: string
                            description: Tax ID
                            minLength: 1
                billingAddress:
                  type: object
                  required:
                    - zipcode
                    - street
                    - number
                    - neighborhood
                    - city
                  properties:
                    zipcode:
                      type: string
                      description: Billing address zip code
                      minLength: 1
                    street:
                      type: string
                      description: Street name
                      minLength: 1
                    number:
                      type: string
                      description: Street number
                      minLength: 1
                    neighborhood:
                      type: string
                      description: Neighborhood
                      minLength: 1
                    city:
                      type: string
                      description: City
                      minLength: 1
              required:
                - officialName
                - tradeName
                - taxID
                - billingAddress
            examples:
              ValidAccountRegister:
                value:
                  officialName: Company Official Name
                  tradeName: Company Trade Name
                  taxID: '12345678901234'
                  billingAddress:
                    zipcode: '12345678'
                    street: Test Street
                    number: '123'
                    neighborhood: Test Neighborhood
                    city: Test City
                  representatives:
                    - name: John Doe
                      birthDate: 1990-01-01T00:00:00.000Z
                      email: john@example.com
                      taxID: '12345678901'
                      type: ADMIN
                      address:
                        zipcode: '12345678'
                        street: Test Street
                        number: '123'
                        neighborhood: Test Neighborhood
                        city: Test City
                        state: ST
                        taxID:
                          taxID: '12345678901'
                          type: BR_CPF
      responses:
        '200':
          description: Account successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  officialName:
                    type: string
                    example: Company Official Name
                  tradeName:
                    type: string
                    example: Company Trade Name
                  taxID:
                    type: object
                    properties:
                      taxID:
                        type: string
                        example: '12345678901234'
                  status:
                    type: string
                    example: PENDING
                  requestedDocuments:
                    type: array
                    items:
                      type: string
                  missingDocumentsDescription:
                    type: string
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    oneOf:
                      - type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            message:
                              type: string
                            path:
                              type: array
                              items:
                                type: string
              examples:
                MissingAuthorization:
                  value:
                    error: Invalid Authorization header
                CompanyNotFound:
                  value:
                    error: Company not found
                ValidationError:
                  value:
                    error:
                      - code: too_small
                        minimum: 1
                        type: string
                        inclusive: true
                        message: Official name is required
                        path:
                          - officialName
        '403':
          description: Forbidden action
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: >-
                  This feature is not enabled for your company. Contact us to
                  active.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Internal server error
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'POST',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account-register',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({
              officialName: 'string',
              tradeName: 'string',
              taxID: 'string',
              documents: [{url: 'string', type: 'SOCIAL_CONTRACT'}],
              representatives: [
                {
                  name: 'string',
                  documents: [{url: 'string', type: 'IDENTITY_FRONT'}],
                  birthDate: 'string',
                  email: 'user@example.com',
                  type: 'ADMIN',
                  taxID: 'string',
                  address: {
                    zipcode: 'string',
                    street: 'string',
                    number: 'string',
                    neighborhood: 'string',
                    city: 'string',
                    state: 'string',
                    complement: 'string',
                    taxID: 'string'
                  }
                }
              ],
              billingAddress: {
                zipcode: 'string',
                street: 'string',
                number: 'string',
                neighborhood: 'string',
                city: 'string'
              }
            }));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.openpix.com.br/api/v1/account-register \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"officialName":"string","tradeName":"string","taxID":"string","documents":[{"url":"string","type":"SOCIAL_CONTRACT"}],"representatives":[{"name":"string","documents":[{"url":"string","type":"IDENTITY_FRONT"}],"birthDate":"string","email":"user@example.com","type":"ADMIN","taxID":"string","address":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string","state":"string","complement":"string","taxID":"string"}}],"billingAddress":{"zipcode":"string","street":"string","number":"string","neighborhood":"string","city":"string"}}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account-register",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => json_encode([
                'officialName' => 'string',
                'tradeName' => 'string',
                'taxID' => 'string',
                'documents' => [
                    [
                            'url' => 'string',
                            'type' => 'SOCIAL_CONTRACT'
                    ]
                ],
                'representatives' => [
                    [
                            'name' => 'string',
                            'documents' => [
                                            [
                                                                            'url' => 'string',
                                                                            'type' => 'IDENTITY_FRONT'
                                            ]
                            ],
                            'birthDate' => 'string',
                            'email' => 'user@example.com',
                            'type' => 'ADMIN',
                            'taxID' => 'string',
                            'address' => [
                                            'zipcode' => 'string',
                                            'street' => 'string',
                                            'number' => 'string',
                                            'neighborhood' => 'string',
                                            'city' => 'string',
                                            'state' => 'string',
                                            'complement' => 'string',
                                            'taxID' => 'string'
                            ]
                    ]
                ],
                'billingAddress' => [
                    'zipcode' => 'string',
                    'street' => 'string',
                    'number' => 'string',
                    'neighborhood' => 'string',
                    'city' => 'string'
                ]
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            payload =
            "{\"officialName\":\"string\",\"tradeName\":\"string\",\"taxID\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"SOCIAL_CONTRACT\"}],\"representatives\":[{\"name\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"IDENTITY_FRONT\"}],\"birthDate\":\"string\",\"email\":\"user@example.com\",\"type\":\"ADMIN\",\"taxID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"taxID\":\"string\"}}],\"billingAddress\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\"}}"


            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }


            conn.request("POST", "/api/v1/account-register", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account-register\"\n\n\tpayload := strings.NewReader(\"{\\\"officialName\\\":\\\"string\\\",\\\"tradeName\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"SOCIAL_CONTRACT\\\"}],\\\"representatives\\\":[{\\\"name\\\":\\\"string\\\",\\\"documents\\\":[{\\\"url\\\":\\\"string\\\",\\\"type\\\":\\\"IDENTITY_FRONT\\\"}],\\\"birthDate\\\":\\\"string\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"type\\\":\\\"ADMIN\\\",\\\"taxID\\\":\\\"string\\\",\\\"address\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"complement\\\":\\\"string\\\",\\\"taxID\\\":\\\"string\\\"}}],\\\"billingAddress\\\":{\\\"zipcode\\\":\\\"string\\\",\\\"street\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"neighborhood\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"officialName\":\"string\",\"tradeName\":\"string\",\"taxID\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"SOCIAL_CONTRACT\"}],\"representatives\":[{\"name\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"IDENTITY_FRONT\"}],\"birthDate\":\"string\",\"email\":\"user@example.com\",\"type\":\"ADMIN\",\"taxID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"taxID\":\"string\"}}],\"billingAddress\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\"}}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account-register")
              .post(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url = URI("https://api.openpix.com.br/api/v1/account-register")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Post.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request["content-type"] = 'application/json'

            request.body =
            "{\"officialName\":\"string\",\"tradeName\":\"string\",\"taxID\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"SOCIAL_CONTRACT\"}],\"representatives\":[{\"name\":\"string\",\"documents\":[{\"url\":\"string\",\"type\":\"IDENTITY_FRONT\"}],\"birthDate\":\"string\",\"email\":\"user@example.com\",\"type\":\"ADMIN\",\"taxID\":\"string\",\"address\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\",\"state\":\"string\",\"complement\":\"string\",\"taxID\":\"string\"}}],\"billingAddress\":{\"zipcode\":\"string\",\"street\":\"string\",\"number\":\"string\",\"neighborhood\":\"string\",\"city\":\"string\"}}"


            response = http.request(request)

            puts response.read_body
  /api/v1/account/{accountId}/withdraw:
    post:
      tags:
        - account
      summary: Withdraw from an Account
      description: >-
        An additional fee may be charged depending on the minimum free
        withdrawal amount. See more about at
        https://developers.openpix.com.br/docs/FAQ/faq-virtual-account/#onde-posso-consultar-as-taxas-da-minha-conta-virtual
      parameters:
        - name: accountId
          in: path
          description: ID of the Account
          required: true
          schema:
            type: string
          example: 6290ccfd42831958a405debc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: number
                  description: Value in cents
            example:
              value: 7000
      responses:
        '200':
          description: Withdraw and Acccount information
          content:
            application/json:
              schema:
                type: object
                properties:
                  withdraw:
                    type: object
                    properties:
                      account:
                        type: object
                        $ref: '#/components/schemas/CompanyBankAccount'
                      transaction:
                        type: object
                        $ref: '#/components/schemas/WithdrawTransaction'
              example:
                withdraw:
                  account:
                    accountId: 6290ccfd42831958a405debc
                    isDefault: true
                    balance:
                      total: 122430
                      blocked: 0
                      available: 122430
                  transaction:
                    endToEndId: E23114447202205191817cx6VMrbwtw6
                    transaction: 7000
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'POST',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/account/6290ccfd42831958a405debc/withdraw',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({value: 0}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"value":0}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => json_encode([
                'value' => 0
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            payload = "{\"value\":0}"


            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }


            conn.request("POST",
            "/api/v1/account/6290ccfd42831958a405debc/withdraw", payload,
            headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw\"\n\n\tpayload := strings.NewReader(\"{\\\"value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"value\":0}");
            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw")
              .post(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/account/6290ccfd42831958a405debc/withdraw")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Post.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request["content-type"] = 'application/json'

            request.body = "{\"value\":0}"


            response = http.request(request)

            puts response.read_body
  /api/v1/application:
    delete:
      tags:
        - application
      summary: Delete an application
      description: >-
        Deactivates an application by setting isActive to false and adding a
        removedAt timestamp
      requestBody:
        description: Data identifying the application to delete
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  description: The client ID of the application to delete
              required:
                - clientId
            examples:
              Application:
                value:
                  clientId: client_123abc
      responses:
        '200':
          description: Application successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates the operation was successful
              example:
                success: true
        '400':
          description: Validation error or other client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
              examples:
                ValidationError:
                  value:
                    error: Validation error
                    details:
                      - field: clientId
                        message: Application client ID is required
                CannotDeleteMaster:
                  value:
                    error: You cannot delete a master application
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Application not found
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Internal server error
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'DELETE',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/application',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({clientId: 'string'}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://api.openpix.com.br/api/v1/application \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"clientId":"string"}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/application",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_POSTFIELDS => json_encode([
                'clientId' => 'string'
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.openpix.com.br")

            payload = "{\"clientId\":\"string\"}"

            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }

            conn.request("DELETE", "/api/v1/application", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/application\"\n\n\tpayload := strings.NewReader(\"{\\\"clientId\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"DELETE\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"clientId\":\"string\"}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/application")
              .delete(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.openpix.com.br/api/v1/application")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true

            request = Net::HTTP::Delete.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'
            request["content-type"] = 'application/json'
            request.body = "{\"clientId\":\"string\"}"

            response = http.request(request)
            puts response.read_body
    post:
      tags:
        - application
      summary: Create a new application
      description: Creates a new application for a company
      requestBody:
        description: Data to create a new application
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPayload'
            examples:
              Application:
                value:
                  accountId: 507f1f77bcf86cd799439011
                  application:
                    name: Test API
                    type: API
      responses:
        '201':
          description: Application successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
              example:
                application:
                  name: Test API
                  isActive: true
                  type: API
                  clientId: client_123abc
                  clientSecret: secret_456def
                  appID: app_789ghi
                  companyBankAccount: 507f1f77bcf86cd799439011
        '400':
          description: Validation error or other client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
              examples:
                ValidationError:
                  value:
                    error: Validation error
                    details:
                      - field: accountId
                        message: Company bank account ID is required
                NoMasterApplication:
                  value:
                    error: Only MASTER application can create other application types
        '403':
          description: Forbidden - Missing required feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: You need feature BAAS to access this endpoint
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Internal server error
      x-codeSamples:
        - lang: Node + Native
          source: >-
            const http = require('https');


            const options = {
              method: 'POST',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/application',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };


            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });


            req.write(JSON.stringify({accountId: 'string', application: {name:
            'string', type: 'API'}}));

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.openpix.com.br/api/v1/application \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"accountId":"string","application":{"name":"string","type":"API"}}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/application",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => json_encode([
                'accountId' => 'string',
                'application' => [
                    'name' => 'string',
                    'type' => 'API'
                ]
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            payload =
            "{\"accountId\":\"string\",\"application\":{\"name\":\"string\",\"type\":\"API\"}}"


            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }


            conn.request("POST", "/api/v1/application", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/application\"\n\n\tpayload := strings.NewReader(\"{\\\"accountId\\\":\\\"string\\\",\\\"application\\\":{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"API\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"accountId\":\"string\",\"application\":{\"name\":\"string\",\"type\":\"API\"}}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/application")
              .post(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url = URI("https://api.openpix.com.br/api/v1/application")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Post.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request["content-type"] = 'application/json'

            request.body =
            "{\"accountId\":\"string\",\"application\":{\"name\":\"string\",\"type\":\"API\"}}"


            response = http.request(request)

            puts response.read_body
  /api/v1/cashback-fidelity/balance/{taxID}:
    get:
      tags:
        - cashback-fidelity
      summary: Get the exclusive cashback amount an user still has to receive by taxID.
      parameters:
        - name: taxID
          in: path
          description: The raw tax ID from the customer you want to get the balance.
          required: true
          schema:
            type: string
          examples:
            taxID:
              value: '60151449000182'
      responses:
        '200':
          description: Amount the user still has to receive.
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                  status:
                    type: string
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'GET',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/cashback-fidelity/balance/60151449000182',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request GET \
              --url https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182 \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("GET",
            "/api/v1/cashback-fidelity/balance/60151449000182", headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182")
              .get()
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/cashback-fidelity/balance/60151449000182")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Get.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
  /api/v1/cashback-fidelity:
    post:
      tags:
        - cashback-fidelity
      summary: Get or create cashback for a customer.
      description: >-
        Create a new cashback exclusive for the customer with a given taxID. If
        the customer already has a pending excluisve cashback, this endpoint
        will return it instead.
      requestBody:
        description: Customer's taxID and the cash
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                taxID:
                  type: string
                  description: Customer taxID (CPF or CNPJ)
                value:
                  type: number
                  description: Cashback value in centavos
            example:
              value: 100
              taxID: 11111111111
      responses:
        '200':
          description: >-
            Didn't create a new cashback, returning previously existing cashback
            information instead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cashback:
                    description: Object representing the existing cashback
                    type: object
                    properties:
                      value:
                        type: number
                        description: Cashback value in centavos
                  message:
                    type: string
                    description: String explaining what happened
        '201':
          description: New cashback created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  cashback:
                    description: Object representing the new cashback
                    type: object
                    properties:
                      value:
                        type: number
                        description: Cashback value in centavos
                  message:
                    type: string
                    description: String explaining what happened
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'POST',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/cashback-fidelity',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({taxID: 'string', value: 0}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request POST \
              --url https://api.openpix.com.br/api/v1/cashback-fidelity \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"taxID":"string","value":0}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/cashback-fidelity",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => json_encode([
                'taxID' => 'string',
                'value' => 0
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.openpix.com.br")

            payload = "{\"taxID\":\"string\",\"value\":0}"

            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }

            conn.request("POST", "/api/v1/cashback-fidelity", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/cashback-fidelity\"\n\n\tpayload := strings.NewReader(\"{\\\"taxID\\\":\\\"string\\\",\\\"value\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"taxID\":\"string\",\"value\":0}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/cashback-fidelity")
              .post(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.openpix.com.br/api/v1/cashback-fidelity")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true

            request = Net::HTTP::Post.new(url)
            request["Authorization"] = 'REPLACE_KEY_VALUE'
            request["content-type"] = 'application/json'
            request.body = "{\"taxID\":\"string\",\"value\":0}"

            response = http.request(request)
            puts response.read_body
  /openpix/charge/brcode/image/{:id}.png?size=1024:
    get:
      tags:
        - charge
      summary: Get an image of Qr Code from a Charge
      parameters:
        - in: path
          name: id
          description: charge link payment ID
          required: true
          schema:
            type: string
          examples:
            paymentLinkID:
              value: fe7834b4060c488a9b0f89811be5f5cf
        - in: query
          name: size
          description: >-
            Size for the image. This size should be between 600 and 4096. if the
            size parameter was not passed, the default value will be 1024.
          required: false
          schema:
            type: string
          examples:
            size:
              value: 768
      responses:
        '200':
          description: The Qr Code image as MIME type
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples: []
  /api/image/qrcode/base64/{:id}:
    get:
      tags:
        - charge
      summary: Get a base64 encoded QR Code image from a Charge
      parameters:
        - in: path
          name: id
          description: charge ID, payment link ID, or QR code ID
          required: true
          schema:
            type: string
          examples:
            paymentLinkID:
              value: fe7834b4060c488a9b0f89811be5f5cf
        - in: query
          name: size
          description: >-
            Size for the image. This size should be between 600 and 4096. If the
            size parameter is not passed, the default value will be 1024.
          required: false
          schema:
            type: string
          examples:
            size:
              value: 768
      responses:
        '200':
          description: The QR Code image as base64 string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  imageBase64:
                    type: string
                    description: Base64 encoded PNG image with data URL format
                    example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Failed to generate QR code
      x-codeSamples: []
  /api/v1/charge/{id}:
    delete:
      tags:
        - charge
      summary: Delete a charge
      parameters:
        - name: id
          in: path
          description: >-
            charge ID or correlation ID. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          examples:
            chargeId:
              value: Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==
            correlationID:
              value: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: The charge deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                    description: the id previously informed to be found and deleted
                example:
                  status: OK
                  id: fe7834b4060c488a9b0f89811be5f5cf
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'DELETE',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request DELETE \
              --url https://api.openpix.com.br/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA== \
              --header 'Authorization: REPLACE_KEY_VALUE'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            headers = { 'Authorization': "REPLACE_KEY_VALUE" }


            conn.request("DELETE",
            "/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==",
            headers=headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==")
              .delete(null)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/charge/Q2hhcmdlOjYwM2U3NDlhNDI1NjAyYmJiZjRlN2JlZA==")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Delete.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'


            response = http.request(request)

            puts response.read_body
    patch:
      tags:
        - charge
      summary: Edit expiration date of a charge
      parameters:
        - name: id
          in: path
          description: >-
            correlation ID. You will need URI encoding if your correlation ID
            has characters outside the ASCII set or reserved characters (%, \#,
            /).
          required: true
          schema:
            type: string
          examples:
            correlationID:
              value: fe7834b4060c488a9b0f89811be5f5cf
      requestBody:
        description: Expires date to update charge
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/ChargePatchPayload'
            example:
              expiresDate: 2021-04-01T17:28:51.882Z
      responses:
        '200':
          description: The charge was updated to new expiration date
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                    description: the id previously informed to be found and deleted
                  expiresDate:
                    type: string
                    description: new date to expire specfic charge
                example:
                  charge:
                    status: ACTIVE
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
                    value: 100
                    comment: good
                    correlationID: 9134e286-6f71-427a-bf00-241681624586
                    paymentLinkID: 7777a23s-6f71-427a-bf00-241681624586
                    paymentLinkUrl: https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586
                    qrCodeImage: >-
                      https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
                    expiresIn: 2592000
                    expiresDate: 2021-04-01T17:28:51.882Z
                    createdAt: 2021-03-02T17:28:51.882Z
                    updatedAt: 2021-03-02T17:28:51.882Z
                    brCode: >-
                      000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                      Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                    additionalInfo:
                      - key: Product
                        value: Pencil
                      - key: Invoice
                        value: '18476'
                      - key: Order
                        value: '302'
                    paymentMethods:
                      pix:
                        method: PIX_COB
                        transactionID: 9134e286-6f71-427a-bf00-241681624586
                        identifier: 9134e286-6f71-427a-bf00-241681624586
                        additionalInfo: []
                        fee: 50
                        value: 200
                        status: ACTIVE
                        txId: 9134e286-6f71-427a-bf00-241681624586
                        brCode: >-
                          000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                          Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                        qrCodeImage: >-
                          https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
        '400':
          description: An error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      x-codeSamples:
        - lang: Node + Native
          source: |-
            const http = require('https');

            const options = {
              method: 'PATCH',
              hostname: 'api.openpix.com.br',
              port: null,
              path: '/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf',
              headers: {
                Authorization: 'REPLACE_KEY_VALUE',
                'content-type': 'application/json'
              }
            };

            const req = http.request(options, function (res) {
              const chunks = [];

              res.on('data', function (chunk) {
                chunks.push(chunk);
              });

              res.on('end', function () {
                const body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({expiresDate: 'string'}));
            req.end();
        - lang: Shell + Curl
          source: |-
            curl --request PATCH \
              --url https://api.openpix.com.br/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf \
              --header 'Authorization: REPLACE_KEY_VALUE' \
              --header 'content-type: application/json' \
              --data '{"expiresDate":"string"}'
        - lang: Php + Curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_URL => "https://api.openpix.com.br/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS => json_encode([
                'expiresDate' => 'string'
              ]),
              CURLOPT_HTTPHEADER => [
                "Authorization: REPLACE_KEY_VALUE",
                "content-type: application/json"
              ],
            ]);

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Python + Python3
          source: >-
            import http.client


            conn = http.client.HTTPSConnection("api.openpix.com.br")


            payload = "{\"expiresDate\":\"string\"}"


            headers = {
                'Authorization': "REPLACE_KEY_VALUE",
                'content-type': "application/json"
            }


            conn.request("PATCH",
            "/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf", payload, headers)


            res = conn.getresponse()

            data = res.read()


            print(data.decode("utf-8"))
        - lang: Go + Native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io\"\n)\n\nfunc main() {\n\n\turl := \"https://api.openpix.com.br/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf\"\n\n\tpayload := strings.NewReader(\"{\\\"expiresDate\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"REPLACE_KEY_VALUE\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := io.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java + Okhttp
          source: >-
            OkHttpClient client = new OkHttpClient();


            MediaType mediaType = MediaType.parse("application/json");

            RequestBody body = RequestBody.create(mediaType,
            "{\"expiresDate\":\"string\"}");

            Request request = new Request.Builder()
              .url("https://api.openpix.com.br/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf")
              .patch(body)
              .addHeader("Authorization", "REPLACE_KEY_VALUE")
              .addHeader("content-type", "application/json")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Ruby + Native
          source: >-
            require 'uri'

            require 'net/http'


            url =
            URI("https://api.openpix.com.br/api/v1/charge/fe7834b4060c488a9b0f89811be5f5cf")


            http = Net::HTTP.new(url.host, url.port)

            http.use_ssl = true


            request = Net::HTTP::Patch.new(url)

            request["Authorization"] = 'REPLACE_KEY_VALUE'

            request["content-type"] = 'application/json'

            request.body = "{\"expiresDate\":\"string\"}"


            response = http.request(request)

            puts response.read_body
    get:
      tags:
        - charge
      summary: Get one charge
      parameters:
        - name: id
          in: path
          description: >-
            charge ID or correlation ID. You will need URI encoding if your
            correlation ID has characters outside the ASCII set or reserved
            characters (%, \#, /).
          required: true
          schema:
            type: string
          example: fe7834b4060c488a9b0f89811be5f5cf
      responses:
        '200':
          description: The charge retrieve using the given ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  charge:
                    type: object
                    $ref: '#/components/schemas/Charge'
                example:
                  charge:
                    status: ACTIVE
                    customer:
                      name: Dan
                      email: email0@example.com
                      phone: '5511999999999'
                      taxID:
                        taxID: '31324227036'
                        type: BR:CPF
                    value: 100
                    comment: good
                    correlationID: 9134e286-6f71-427a-bf00-241681624586
                    paymentLinkID: 7777-6f71-427a-bf00-241681624586
                    paymentLinkUrl: https://woovi.com/pay/9134e286-6f71-427a-bf00-241681624586
                    globalID: Q2hhcmdlOjcxOTFmMWIwMjA0NmJmNWY1M2RjZmEwYg==
                    qrCodeImage: >-
                      https://api.woovi.com/openpix/charge/brcode/image/9134e286-6f71-427a-bf00-241681624586.png
                    brCode: >-
                      000201010212261060014br.gov.bcb.pix2584https://api.woovi.com/openpix/testing?transactionID=867ba5173c734202ac659721306b38c952040000530398654040.015802BR5909LOCALHOST6009Sao
                      Paulo62360532867ba5173c734202ac659721306b38c963044BCA
                    additionalInfo:
                      - key: Product
                        value: Pencil
[...]
