.home-section {
  padding: 2vh 5vw;
}

@media screen and (min-width: 720px) {
  .home-section {
    padding: 5vh 20vw;
  }
}

.home-section > :not(:first-child) {
  margin: 5vh 0;
}

/* reset margin */
.home-section h3,
.home-section p {
  margin: 0;
  color: black;
}

html[data-theme='dark'] .dark-mode--override p,
html[data-theme='dark'] .dark-mode--override h3 {
  color: white;
}

.section-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* just to reset hover state */
.products--item:hover {
  color: black;
}

.products--item > h3 {
  font-size: 16px;
}
